
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="panel panel-default panel-hovered panel-stacked mb20">
      <div class="panel-heading">Cambiar contraseña</div>
      <div class="panel-body">
        <form ng-submit="cambiarPass(newpass, newpassverif, passantiguo)">
          <md-input-container flex-gt-sm style="margin-bottom: 0px" class="md-block">
            <label>Contraseña anterior</label>
            <input type="text" ng-model="passantiguo">
            <md-tooltip>Ingresa tu contraseña anterior</md-tooltip>
          </md-input-container>
          <md-input-container flex-gt-sm style="margin-bottom: 0px" class="md-block">
            <label>Contraseña</label>
            <input type="text" ng-model="newpass">
            <md-tooltip>Ingresa tu nueva contraseña</md-tooltip>
          </md-input-container>
          <md-input-container flex-gt-sm style="margin-bottom: 0px" class="md-block">
            <label>Ingrésala otra vez</label>
            <input type="text" ng-model="newpassverif">
            <md-tooltip>Repítela</md-tooltip>
          </md-input-container>
          <md-button type="submit" ng-enabled="!status.passCambiado">Cambiar</md-button>
        </form>
      </div>
    </div>
  </div>
</div>