.panel.panel-default.panel-hovered.panel-stacked.mb20
	.panel-heading( layout style="height: 40px;")

		a(href="" ng-click="mostrarConfig()" ng-show="!mostrarConfiguracion") Configurar
		a(href="" ng-click="mostrarConfig()" ng-show="mostrarConfiguracion") Ocultar

	.panel-body
		form.form-horizontal(name="frm" role="form" ng-submit="finalizarEdicion()")
			
			div(ng-show="mostrarConfiguracion" layout layout-margin layout-wrap layout-padding )
				
				md-input-container.margintb0.paddingtb0(flex="40")
					label Duración
					input(type="number" ng-model="pregagrup.duracion")
					md-tooltip En segundos. Solo para la gran final

				md-input-container.margintb0.paddingtb0(flex="20")
					label Puntos
					input(type="number" ng-model="pregagrup.puntos")
					md-tooltip Solo aplica si la evaluación es por puntos y no por promedio.

				md-input-container.margintb0.paddingtb0(flex="30" layout="row" layout-align="start center" style="margin-top:-20px; height: 50px;")
					md-select(placeholder="Tipo pregunta" ng-model="pregagrup.tipo_pregunta" ng-change="cambiaTipoPregunta()" style="min-width: 150px;")
						md-option() Test
						md-option() Multiple
						md-option() Texto
						md-option() Lista
						md-option() Ordenar
						//md-option() Cuadrícula // No aplica para pregunta_king, sino para grupos_preguntas

				.form-group(flex="50" style="margin-top:-10px")
					md-checkbox(ng-model="pregagrup.aleatorias" ng-true-value="1" ng-false-value="0" aria-label="Opciones aleatorias")
						| Opciones aleatorias
					md-tooltip No importará el orden en que ordene las opciones. Siempre saldrán aleatoriamente.


			

			.definicion-preg
				div(text-angular ta-toolbar-group-class="btn-group btn-group-xs" ng-model="pregagrup.enunciado")


				div(layout layout-sm="column")
					md-input-container(flex)
						label Texto ayuda
						input(type="text" ng-model="pregagrup.ayuda")



				.opcionesedit(ui-sortable="sortableOptions" ng-model="pregagrup.opciones")
					
					md-input-container.input-group.margintb0.paddingtb0(flex ng-repeat="opcion in pregagrup.opciones | orderBy:'orden'")
						label(ng-show="!opcion.nueva")
							i.fa.fa-sort 
							| Opción {{$index+1}}:
						input.form-control(type="text" ng-model="opcion.definicion" ng-class="{ 'textblue':opcion.is_correct, 'add-opcion':opcion.nueva }" 
							ng-focus="addButtonNewOpcion(pregagrup, opcion)" ng-disable="opcion.creando")
							
						span.input-group-btn(ng-show="!opcion.nueva")
							
							md-button.md-icon-button.md-warn(type="button" aria-label="Quitar" ng-click="deleteOption(pregagrup, opcion)")
								md-icon.fa.fa-times
								md-tooltip Quitar opción

							md-button.md-icon-button(type="button" ng-class="{ 1:'md-mini md-fab md-primary', 0:''}[opcion.is_correct]" 
								aria-label="Correcta" ng-click="setAsCorrect(pregagrup, opcion)")

								md-icon.fa.fa-check
								md-tooltip Respuesta correcta
				br

			md-button.md-raised.md-primary.right(type="button" ng-click="finalizarEdicion()") 
				md-tooltip Guardar y finalizar edición
				| Finalizar
			md-button.md-raised.md-default.right(type="button" ng-click="aplicarCambios()" aria-label="Aplicar")
				md-tooltip Guardar y continuar editando
				| Aplicar
			md-button.md-raised.md-default.right(type="button" ng-click="cerrarEdicion()" aria-label="Cerrar")
				md-tooltip Cerrar edición
				| Cerrar



