/styles/ui-grid.woff
/styles/ui-grid.ttf
/images/perfil
.DS_Store
fonts/fontawesome-webfont.eot
fonts/fontawesome-webfont.svg
fonts/fontawesome-webfont.ttf
fonts/fontawesome-webfont.woff
fonts/fontawesome-webfont.woff2
fonts/FontAwesome.otf
