.modal-header
	h3.modal-title Cambiar entidad de {{usuario.nombres}}
.modal-body
	.row
		.col-lg-12.col-xs-12
			h4 Actual: {{usuario.entidad_id | nombreEntidad:entidades:false}} ({{usuario.entidad_id | nombreEntidad:entidades:true}})
			
			md-radio-group
				md-radio-button(ng-repeat="entidad in entidades_extras" ng-value="entidad.id" ng-click="seleccionar(entidad)") {{entidad.nombre}} ({{entidad.alias}})
			

.modal-footer
	button.btn.btn-yellow(ng-click="cancel()") Cancelar