md-sidenav.md-sidenav-right.md-whiteframe-4dp(md-component-id="sidenavSelectPC" style="width: 600px;")
	md-toolbar.md-theme-light( style="margin-top: 50px;")
		h1.md-toolbar-tools Seleccione equipo

	md-content(layout-padding)
		
		
		section
			md-subheader.md-primary 
				md-input-container.filtrarusuario(flex )
					label Filtrar
					input(type="text" ng-model="filtro" )
				button.btn.btn-primary(type="button" ng-click="ingresar_seleccionado()") Ingresar
			md-list.md-dense 
				span(ng-repeat="cliente in SocketClientes.clientes | filter:filtro | orderBy:'nombre_punto'")
					md-list-item.md-2-line.itemselectpc-busy(ng-if="cliente.registrado")
						
						header.fotoselectpc
							
							img.img-perfil.nodrag(ng-src="{{imagesPath + cliente.usuario.imagen_nombre}}" alt="{{cliente.usuario.username}}")

							
							img.img-entidad.nodrag(ng-src="{{ imagesPath + cliente.usuario.entidad.logo}}" alt="{{cliente.usuario.username}}")
							md-tooltip {{cliente.usuario.entidad.nombre}}
					
						.info 
							h5.name.text-center.nombresellipsis {{cliente.usuario.nombres}} {{cliente.usuario.apellidos}}
								md-tooltip {{cliente.usuario.username}}
							.alias-enti
								| {{ cliente.nombre_punto }} - {{cliente.usuario.entidad.alias}}
								md-tooltip Nombre de punto y Entidad
								


					md-list-item.md-2-line(ng-dblclick="ingresar_seleccionado(cliente)" ng-if="!cliente.registrado")
						
						.info 
							h5(ng-model="cliente.nombre_punto" contenteditable guardar-nombre-punto="guardarNombrePunto") {{ cliente.nombre_punto }}
								md-tooltip Nombre de punto



