md-button.md-raised.md-primary(ng-click="empezarCrear()" ng-show="!creando") Nuevo usuario

sidenav-select-pc-dir#sidenavSelectPC


.row(ng-show="creando")
	.col-sm-12.col-md-12
		
		.panel.panel-default.panel-hovered.panel-stacked.mb20
			.panel-heading   
				| Nuevo

			.panel-body(style="padding-top: 30px;")

				form.form-horizontal(ng-submit="guardarNuevo()" name="frm" role="form")
					
					.row
						.col-md-8

							div(layout layout-sm="column")
								md-input-container.margintb0(flex)
									label Nombre
									input(type="text" ng-model="newUsu.nombres" name="nombres" required)
								md-input-container.margintb0(flex)
									label Apellidos
									input(type="text" ng-model="newUsu.apellidos")
							
							div(layout layout-sm="column")
								md-input-container.margintb0(flex)
									label Username
									input(type="text" ng-model="newUsu.username" required)

								md-input-container.margintb0(flex)
									label Contraseña
									input(type="text" ng-model="newUsu.password" required)
								
							div(layout layout-sm="column")
								md-input-container.margintb0(flex)
									label Email
									input(type="text" ng-model="newUsu.email")
								
								md-input-container.margintb0(flex)
									label Celular
									input(type="text" ng-model="newUsu.cell")
								
								md-input-container.margintb0(flex)
									label Edad
									input(ng-model="newUsu.edad" type="text")
							.row
								.col-md-8
									.form-group
										label.control-label.col-md-3 Sexo
										.col-md-9
											md-radio-group(ng-model="newUsu.sexo")
												md-radio-button.rd-gender(ng-value="avatar.masculino.abrev" aria-label="{{avatar.masculino.def}}")
													img.img-gender(ng-src="{{avatar.masculino.img}}")
													md-tooltip Masculino
											
												md-radio-button.rd-gender(ng-value="avatar.femenino.abrev" aria-label="{{avatar.femenino.def}}")
													img.img-gender(ng-src="{{avatar.femenino.img}}")
													md-tooltip Femenino

							.row
								.col-md-12
									.form-group(style="padding-left: 15px;")
										label Imagen
										button.btn.btn-primary.fa.fa-image.btn-xs(type="button" ng-click="misImagenes()" style="float: right;margin-right: 20px;")  Imágenes...
										ui-select(ng-model="newUsu.imgUsuario" on-select="imagenSelect($item, $model)" theme="select2" style="width: 95%;")
											ui-select-match(placeholder="Imagen usuario") 
												img(ng-src="{{imagesPath + $select.selected.nombre}}" style="width:25px; height:25px;")
												small(ng-bind-html="' ' + $select.selected.nombre")
											ui-select-choices(repeat="imagen in imagenes | filter: {nombre: $select.search}")
												img(ng-src="{{imagesPath + imagen.nombre}}" style="width:25px; height:25px;")
												small(ng-bind-html="' ' + imagen.nombre | highlight: $select.search")
											ui-select-no-choice
												img(ng-src="{{imagesPath + 'perfil/system/avatars/no-photo.jpg'}}" style="width:25px; height:25px;")
												small(ng-bind-html="' Sin foto '")


						.col-md-4

							.form-group(style="padding-left: 15px;")
								label Entidad
								ui-select(ng-model="newUsu.entidad" theme="select2" style="width: 95%;")
									ui-select-match(placeholder="Entidad") 
										img(ng-src="{{imagesPath + $select.selected.logo_nombre}}" style="width:25px; height:25px;")
										small(ng-bind-html="' ' + $select.selected.nombre")
									ui-select-choices(repeat="entidad in entidades")
										img(ng-src="{{imagesPath + entidad.logo_nombre}}" style="width:25px; height:25px;")
										small(ng-bind-html="' ' + entidad.nombre | highlight: $select.search")


							md-select(ng-model="newUsu.nivel_id" placeholder="Niveles" ng-change="cambiaNivelNewUsu()")
								md-option(ng-value="nivel.nivel_king_id" ng-repeat="nivel in niveles_king | nivelesTraducidos:$parent.evento_actual.idioma_principal_id") Nivel {{nivel.nombre}}
								md-option(value="-1") Todos

							md-content.alto-inscribir
								md-list
									md-subheader.md-no-sticky
										| Inscribir en:

									md-list-item(ng-repeat="categoria in categorias_king1 | categoriasTraducidas:$parent.evento_actual.idioma_principal_id:newUsu.nivel_id")
										md-checkbox(ng-checked="checkeandoCategorias(categoria, newUsu.inscripciones)" ng-click="toggle(categoria, newUsu.inscripciones)")
										p {{categoria.nombre}}





					.clearfix.right
						md-button.md-primary(type="button" ng-click="guardarNuevoYLogin()" ng-disabled="guardando") Guardar y enviar
						md-button.md-primary(type="submit" ng-disabled="guardando") Guardar
						md-button.md-default(type="button" ng-click="cancelarNuevo()") Cancelar


.row(ng-show="editando")
	.col-sm-12.col-md-12
		
		.panel.panel-default.panel-hovered.panel-stacked.mb20
			.panel-heading   
				| Editar a {{currentUser.nombres}}

			.panel-body(style="padding-top: 30px;")

				form.form-horizontal(ng-submit="guardarEdicion()" name="frmEdit" role="form")
					.row
						.col-md-8

							div(layout layout-sm="column")
								md-input-container.margintb0(flex)
									label Nombre
									input(type="text" ng-model="currentUser.nombres" name="nombres" required)
								md-input-container.margintb0(flex)
									label Apellidos
									input(type="text" ng-model="currentUser.apellidos")
							
							div(layout layout-sm="column")
								md-input-container.margintb0(flex)
									label Username
									input(type="text" ng-model="currentUser.username" required)

								md-input-container.margintb0(flex)
									label Contraseña
									input(type="text" ng-model="currentUser.password")
								
							div(layout layout-sm="column")
								md-input-container.margintb0(flex)
									label Email
									input(type="text" ng-model="currentUser.email")
								
								md-input-container.margintb0(flex)
									label Celular
									input(type="text" ng-model="currentUser.cell")
								
								md-input-container.margintb0(flex)
									label Edad
									input(ng-model="currentUser.edad" type="text")
							.row
								.col-md-8
									.form-group
										label.control-label.col-md-3 Sexo
										.col-md-9
											md-radio-group(ng-model="currentUser.sexo")
												md-radio-button.rd-gender(ng-value="avatar.masculino.abrev" aria-label="{{avatar.masculino.def}}")
													img.img-gender(ng-src="{{avatar.masculino.img}}")
													md-tooltip Masculino
											
												md-radio-button.rd-gender(ng-value="avatar.femenino.abrev" aria-label="{{avatar.femenino.def}}")
													img.img-gender(ng-src="{{avatar.femenino.img}}")
													md-tooltip Femenino

							.row
								.col-md-12
									.form-group(style="padding-left: 15px;")
										label Imagen
										button.btn.btn-primary.fa.fa-image.btn-xs(type="button" ng-click="misImagenes()" style="float: right;margin-right: 20px;")  Imágenes...
										ui-select(ng-model="currentUser.imgUsuario" on-select="imagenSelect($item, $model)" theme="select2" style="width: 95%;")
											ui-select-match(placeholder="Imagen usuario") 
												img(ng-src="{{imagesPath + $select.selected.nombre}}" style="width:25px; height:25px;")
												small(ng-bind-html="' ' + $select.selected.nombre")
											ui-select-choices(repeat="imagen in imagenes | filter: {nombre: $select.search}")
												img(ng-src="{{imagesPath + imagen.nombre}}" style="width:25px; height:25px;")
												small(ng-bind-html="' ' + imagen.nombre | highlight: $select.search")
											ui-select-no-choice
												img(ng-src="{{imagesPath + 'perfil/system/avatars/no-photo.jpg'}}" style="width:25px; height:25px;")
												small(ng-bind-html="' Sin foto '")

						.col-md-4

							.form-group(style="padding-left: 15px;")
								label Entidad
								ui-select(ng-model="currentUser.entidad" theme="select2" style="width: 95%;")
									ui-select-match(placeholder="Entidad") 
										img(ng-src="{{imagesPath + $select.selected.logo_nombre}}" style="width:25px; height:25px;")
										small(ng-bind-html="' ' + $select.selected.nombre")
									ui-select-choices(repeat="entidad in entidades")
										img(ng-src="{{imagesPath + entidad.logo_nombre}}" style="width:25px; height:25px;")
										small(ng-bind-html="' ' + entidad.nombre | highlight: $select.search")



							md-select(ng-model="currentUser.nivel_id" placeholder="Niveles")
								md-option(ng-value="nivel.nivel_king_id" ng-repeat="nivel in niveles_king | nivelesTraducidos:$parent.evento_actual.idioma_principal_id") Nivel {{nivel.nombre}}
								md-option(value="-1") Todos


							md-content.alto-inscribir
								md-list
									md-subheader.md-no-sticky
										| Inscribir en:

									md-list-item(ng-repeat="categoria in categorias_inscripcion | listaCategsDelUsuarioSegunNivel:currentUser.nivel_id ")
										md-checkbox(ng-model="categoria.selected" ng-change="cambiaInscripcion(categoria, currentUsers)" aria-label="Categoria" ng-disabled="categoria.cambiando")
										p {{categoria.nombre}}
										.fa.fa-comments-o.md-secondary(aria-label="Comentario inútil" ng-click="")



					.clearfix.right
						md-button.md-primary(type="submit" ng-disabled="guardando") Guardar
						md-button.md-default(type="button" ng-click="cancelarEdicion()") Cancelar


.row
	.col-sm-12.col-md-12

		
		grid-usuarios(currentusers="currentUsers" nivelesking="niveles_king" usuarios="usuarios" categoriasking="categorias_king2" idioma="$parent.evento_actual.idioma_principal_id")







