
md-button.md-raised.md-primary(ng-click="addNewPregunta()" ng-disabled="creando") 
	md-tooltip {{ 'TIP_BTN_NUEVA_PREGUNTA' | translate }}
	| {{ 'BTN_NUEVA_PREGUNTA' | translate }}


md-button.md-raised.md-primary(ng-click="addNewPreguntaGrupo()" ng-disabled="creando") 
	md-tooltip Para crear cuadrículas o preguntas basadas en un contenido común.
	| Nuevo grupo preguntas

