
<div class="modal-header">
  <h3 class="modal-title">Cambiar ruta de imágenes en las preguntas.</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <p>Haga backup primero. Esta operación es delicada. Podría dañar no solo las rutas de las imágenes, sino las mimas preguntas.</p>
      <h4>Ruta anterior:</h4>
      <input type="text" ng-model="ruta_anterior">
      <h4>Ruta nueva:</h4>
      <input type="text" ng-model="ruta_nueva"><br>
      <h4>Preguntas con la etiqueta img:</h4>
      <div style="max-height	:300px; overflow:scroll">
        <textarea ng-repeat="preg in preguntas" ng-model="preg.enunciado" class="form-control"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="ok()" class="btn btn-labeled btn-primary">Cambiar<i class="btn-label fa fa-times"></i></button>
  <button ng-click="cancel()" class="btn btn-yellow">Cancelar</button>
</div>