.modal-header
	h3.modal-title Cambiar la categoria
.modal-body
	.row
		.col-lg-12.col-xs-12
			h4 Pregunta: {{pregunta.preguntas_traducidas[0].idioma}} - {{pregunta.preguntas_traducidas[0].definicion}}

			md-radio-group(ng-model="categoria")
				span(ng-repeat="catking in categorias")
					md-radio-button(ng-repeat="cat_traduc in catking.categorias_traducidas | catsByIdioma:idiomaPreg.selected" value="{{cat_traduc.categoria_id}}" aria-label="{{cat_traduc.categoria_id}}")
						div(ng-bind-html="cat_traduc.nombre")



.modal-footer
	md-button.md-raised(ng-click="cancel()") Cancelar
	md-button.md-primary.md-raised(ng-click="ok()" ng-disabled="cambiando || !categoria") Cambiar
		i.fa.fa-check