a.btn-tag.btn-tag-info(md-ink-ripple ng-if="!pregunta_traduc.is_preg")
	| Pregunta en {{pregunta_traduc.idioma}}

.definicion-preg
	button.btn.btn-primary.fa.fa-image.btn-xs(type="button" ng-click="misImagenes()" style="float: right;")  Imágenes...

	text-angular-toolbar(name="mytoolbar" ta-toolbar-group-class="btn-group btn-group-xs")
	text-angular(ng-model="pregunta_traduc.enunciado" ta-target-toolbars='mytoolbar' ta-show-html="true")
	//div(text-angular ta-toolbar-group-class="btn-group btn-group-xs" ng-model="pregunta_traduc.enunciado")

	div(ng-show="!pregunta_traduc.mostrar_ayuda")
		a.pointer(ng-click="pregunta_traduc.mostrar_ayuda=true")
			i.fa.fa-anchor
			md-tooltip Mostrar ayuda

	div(layout layout-sm="column" ng-show="pregunta_traduc.mostrar_ayuda")
		md-input-container.txtayuda(flex)
			label Texto ayuda
			input(type="text" ng-model="pregunta_traduc.ayuda")



	.opcionesedit(ui-sortable="sortableOptions" ng-model="pregunta_traduc.opciones")
		
		md-input-container.input-group.margintb0.paddingtb0(flex ng-repeat="opcion in pregunta_traduc.opciones | orderBy:'orden'")
			label(ng-show="!opcion.nueva")
				i.fa.fa-sort  
				|  Opción {{$index+1}}:
			//input.form-control(type="text" ng-model="opcion.definicion" ng-class="{ 'textblue':opcion.is_correct, 'add-opcion':opcion.nueva }" 
				ng-focus="addButtonNewOpcion(pregunta_traduc, opcion)" ng-disable="opcion.creando")

			text-angular(ng-model="opcion.definicion" ta-show-html="true" ng-if="!opcion.nueva" ta-target-toolbars='mytoolbar' ng-class="{ 'textblue':opcion.is_correct }" 
				ng-focus="addButtonNewOpcion(pregunta_traduc, opcion)" ta-text-editor-class="form-control editor-height" ta-html-editor-class="form-control editor-height" ng-disable="opcion.creando")
			
			text-angular(ng-model="opcion.definicion" ta-show-html="false" ng-if="opcion.nueva" ta-target-toolbars='mytoolbar'
				ng-focus="addButtonNewOpcion(pregunta_traduc, opcion)" ta-text-editor-class="form-control editor-height add-opcion" ta-html-editor-class="form-control editor-height add-opcion" ng-disable="opcion.creando")
			

			span.input-group-btn(ng-show="!opcion.nueva")
				
				md-button.md-icon-button.md-warn(type="button" aria-label="Quitar" ng-click="deleteOption(pregunta_traduc, opcion)")
					md-icon.fa.fa-times
					md-tooltip Quitar opción

				md-button.md-icon-button(type="button" ng-class="{ 1:'md-mini md-fab md-primary', 0:''}[opcion.is_correct]" 
					aria-label="Correcta" ng-click="setAsCorrect(pregunta_traduc, opcion)")

					md-icon.fa.fa-check
					md-tooltip Respuesta correcta


