
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="panel panel-default panel-hovered panel-stacked mb20">
      <div layout style="padding: 0; padding-bottom: 5px;" class="panel-heading">
        <md-input-container layout="row" layout-align="start center" style="padding-bottom: 0px; margin-top: 2px;    margin-bottom: 4px;">
          <md-select placeholder="Idioma" ng-model="idiomaPreg.selected">
            <md-option ng-repeat="idioma in evento_actual.idiomas" value="{{idioma.id}}"> En {{idioma.original}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container layout="row" layout-align="start center" style="padding-bottom: 0px; margin-top: 2px;    margin-bottom: 4px;">
          <md-select placeholder="Categoría" ng-model="categoria" ng-change="traerPreguntasYEvaluaciones()" class="categoria"><span ng-repeat="catking in categorias">
              <md-option ng-repeat="cat_traduc in catking.categorias_traducidas | catsByIdioma:idiomaPreg.selected" ng-show="cat_traduc.idioma_id==idiomaPreg.selected" value="{{cat_traduc.categoria_id}}">
                 
                {{cat_traduc.nombre}}
              </md-option></span></md-select>
        </md-input-container>
        <md-input-container layout="row" layout-align="start center" style="padding-bottom: 0px; margin-top: 2px;    margin-bottom: 4px;">
          <md-select placeholder="Evaluaciones" ng-model="evaluacion_id" ng-change="traerPreguntasDeEvaluacion()">
            <md-option ng-repeat="evalu in evaluaciones" value="{{evalu.id}}">
               
               {{evalu.id}} - {{evalu.descripcion}}
            </md-option>
            <md-option value="0">
               
               Todas
            </md-option>
            <md-option value="sin_asignar">
               
               Sin asignar
            </md-option>
          </md-select>
        </md-input-container>
        <!--md-checkbox(ng-model="showDetail" style="display:inline-block") Detalles-->
        <input type="text" ng-model="preg_buscar" placeholder="{{ 'BUSCAR_PLACEHOLDER' | translate }}" class="form-control ancho-200">
      </div>
      <div ng-show="evaluacion_id!='sin_asignar'" class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div style="margin-bottom: 20px;" class="btn-group">
              <label ng-model="showSelectables" uib-btn-checkbox style="height: 33px;" class="btn btn-primary"> <span class="fa fa-check-square-o"></span></label>
              <label ng-model="showOptions" uib-btn-checkbox class="btn btn-primary">Ver opciones</label>
              <label ng-model="showCorrects" uib-btn-checkbox class="btn btn-primary">Revelar correctas</label>
            </div>
            <button ng-click="cambiarRutaImagenes()" style="margin-bottom: 20px;" class="btn btn-default">Rutas</button>
          </div>
        </div>
        <div ng-show="showSelectables" class="row">
          <div class="col-lg-12">
            <div aria-label="..." class="btn-group">
              <button type="button" ng-click="eliminarPreguntas()" class="btn btn-default"> <i class="fa fa-trash"></i>Eliminar preguntas</button>
              <button type="button" ng-click="asignarAEvaluacion()" class="btn btn-default"><i class="fa fa-clipboard"></i>Asignar a Evaluación</button>
              <button type="button" ng-click="cambiarPreguntasACategoria()" class="btn btn-default"><i class="fa fa-eye"></i>Cambiar de categoría</button>
            </div>
          </div>
        </div>
        <add-pregunta ng-show="inicializado &amp;&amp; !showSelectables"></add-pregunta>
        <div id="edicionking">
          <!-- Editar una pregunta-->
          <edit-pregunta ng-if="editando"></edit-pregunta>
          <!-- Editar un grupo-->
          <edit-contenido ng-if="editandoContenido"></edit-contenido>
        </div>
        <div id="pregunta-en-pantalla">
          <!-- Pregunta que se está mostrando en pantalla-->
          <pregunta-en-pantalla ng-show="SocketData.config.pregunta.id"></pregunta-en-pantalla>
        </div>
        <div ng-repeat="pg_pregunta in pg_preguntas | filter:preg_buscar " ng-class-odd="'fondo-gris-odd'" style="position: relative;">
          <view-pregunta ng-if="pg_pregunta.is_preg"></view-pregunta>
          <view-grupo ng-if="!pg_pregunta.is_preg"></view-grupo>
        </div>
        <add-pregunta ng-show="inicializado &amp;&amp; !showSelectables"></add-pregunta>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="panel panel-default panel-hovered panel-stacked mb20">
      <div layout class="panel-heading">Evaluaciones</div>
      <div class="panel-body">
        <md-list-item ng-repeat="evalu in evaluaciones" ng-click="selectEvaluacion(evalu, $event)" ng-class="{'bg-success': evalu.selected==true}">
          <p> {{evalu.id}} - {{evalu.descripcion}}</p>
        </md-list-item>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-8">
    <div class="panel panel-default panel-hovered panel-stacked mb20">
      <div layout class="panel-heading">Preguntas</div>
      <div class="panel-body">
        <div class="row">
          <button ng-click="asignarPreguntasRandom()" style="margin-bottom: 20px; margin-left: 20px;" class="btn btn-default">Asignar preguntas</button>
        </div>
        <div ng-repeat="pregunta_king in pg_preguntas | pregsByCatsAndEvaluacion:categoria:preguntas_evaluacion2:evalu_seleccionada.id | orderBy:'orden' " style="position: relative;">
          <view-pregunta-eval ng-if="pregunta_king.tipo_pregunta" preguntaking="pregunta_king"></view-pregunta-eval>
          <view-grupo-eval ng-if="!pregunta_king.tipo_pregunta" grupoking="pregunta_king"></view-grupo-eval>
        </div>
      </div>
    </div>
  </div>
</div>