
<md-whiteframe layout style="padding: 10px" class="md-whiteframe-z2 definicion-frame"><span flex="5" ng-show="showSelectables"> 
    <input type="checkbox" ng-model="pregunta.seleccionada"></span><span flex="5">{{$index+1}}.</span><span ng-bind-html="pg_pregunta.enunciado" flex="95"></span>
  <div ng-show="pg_pregunta.ayuda &amp;&amp; pg_pregunta.showDetail" ng-click="toggleMostrarAyuda(pg_pregunta)" ng-class="{'ayuda-preg-showed': pg_pregunta.mostrar_ayuda, 'ayuda-preg-hidded':!pg_pregunta.mostrar_ayuda}"><a ng-show="!pg_pregunta.mostrar_ayuda"><i class="fa fa-anchor"></i></a><span ng-show="pg_pregunta.mostrar_ayuda">{{pg_pregunta.ayuda}}</span></div>
  <div layout="row" class="btn-container-edit">
    <div aria-label="..." class="btn-group">
      <button type="button" ng-click="editarPregunta(pg_pregunta)" class="btn btn-default"> <i class="fa fa-pencil"></i>
        <md-tooltip>Editar pregunta</md-tooltip>
      </button>
      <button type="button" ng-click="previewPregunta(pg_pregunta)" class="btn btn-default"><i class="fa fa-eye"></i>
        <md-tooltip>Preview</md-tooltip>
      </button>
      <button type="button" ng-click="enviar_pregunta_pantalla(pg_pregunta)" class="btn btn-default"><i class="fa fa-tv"></i>
        <md-tooltip>Enviar pregunta a pantalla</md-tooltip>
      </button>
      <div class="btn-group">
        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default dropdown-toggle"><i class="fa fa-align-justify"></i><span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="" ng-click="eliminarPregunta(pg_pregunta)"><i class="fa fa-trash"></i> Eliminar pregunta</a></li>
          <li><a href="" ng-click="asignarAEvaluacion(pg_pregunta)"><i class="fa fa-clipboard"></i> Asignar a Evaluación</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="" ng-click="cambiarCategoria(pg_pregunta)"><i class="fa fa-eye"></i> Cambiar categoría</a></li>
          <li role="separator" class="divider"></li>
          <li><a ng-click="selec_opc_in_question(0)">Seleccionar A</a></li>
          <li><a ng-click="selec_opc_in_question(1)">Seleccionar B</a></li>
          <li><a ng-click="selec_opc_in_question(2)">Seleccionar C</a></li>
          <li><a ng-click="selec_opc_in_question(3)">Seleccionar D</a></li>
          <li><a ng-click="selec_opc_in_question(4)">Seleccionar E</a></li>
          <li><a ng-click="selec_opc_in_question(5)">Seleccionar F</a></li>
          <li class="divider">
            <li><a ng-click="sc_reveal_answer()">Revelar correcta</a></li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</md-whiteframe><span ng-show="pg_pregunta.showDetail || showOptions">
  <md-list ng-if="pg_pregunta.tipo_pregunta=='Multiple'">
    <md-list-item ng-repeat="opcion in pg_pregunta.opciones | filter:{id: '!-1'} ">
      <md-checkbox ng-model="topping.wanted"></md-checkbox>
      <p ng-bind-html="opcion.definicion"></p>
      <md-icon ng-click="" aria-label="Chat" class="md-secondary fa fa-comment"></md-icon>
    </md-list-item>
  </md-list>
  <div layout="row" layout-wrap layout-fill ng-if="pg_pregunta.tipo_pregunta=='Test'" style="padding-bottom: 32px;" class="opciones">
    <md-whiteframe ng-class="{'elegida': opcion.elegida, 'correcta-revelada':opcion.is_correct &amp;&amp; showCorrects}" ng-if="!opcion.nueva" flex="40" ng-click="elegirOpcion(pg_pregunta, opcion)" ng-repeat="opcion in pg_pregunta.opciones" class="pointer md-whiteframe-z2 btn"> <span style="font-weight: bold;">{{ indexChar($index) }}. </span><span ng-bind-html="opcion.definicion"> </span></md-whiteframe>
  </div></span>