md-whiteframe.md-whiteframe-z2.definicion-frame(layout style="padding: 10px")
						
	span(flex="5") {{$index+1}}.
	span(ng-bind-html="pg_pregunta.enunciado" flex="95")

	div(ng-show="pg_pregunta.ayuda && pg_pregunta.showDetail" ng-click="toggleMostrarAyuda(pg_pregunta)" ng-class="{'ayuda-preg-showed': pg_pregunta.mostrar_ayuda, 'ayuda-preg-hidded':!pg_pregunta.mostrar_ayuda}")
		a(ng-show="!pg_pregunta.mostrar_ayuda")
			i.fa.fa-anchor
		span(ng-show="pg_pregunta.mostrar_ayuda")
			| {{pg_pregunta.ayuda}}

	div.btn-container-edit(layout="row")

		.btn-group(aria-label="...")
			button.btn.btn-default(type="button" ng-click="editarPregunta(pg_pregunta)") 
				i.fa.fa-pencil
				md-tooltip Editar pregunta
			button.btn.btn-default(type="button" ng-click="previewPregunta(pg_pregunta)")
				i.fa.fa-eye
				md-tooltip Preview
			button.btn.btn-default(type="button" ng-click="enviar_pregunta_pantalla(pg_pregunta)")
				i.fa.fa-tv
				md-tooltip Enviar pregunta a pantalla
			.btn-group
				button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
					i.fa.fa-align-justify
					span.caret
				ul.dropdown-menu.dropdown-menu-right
					li
						a(href="" ng-click="eliminarPregunta(pg_pregunta)")
							i.fa.fa-trash
							|  Eliminar pregunta
					li
						a(href="" ng-click="asignarAEvaluacion(pg_pregunta)")
							i.fa.fa-clipboard
							|  Asignar a Evaluación
					li.divider(role="separator")
					li
						a(href="" ng-click="cambiarCategoria(pg_pregunta)")
							i.fa.fa-eye
							|  Cambiar categoría
					li.divider(role="separator")
					li
							a(ng-click="selec_opc_in_question(0)") Seleccionar A
						li
							a(ng-click="selec_opc_in_question(1)") Seleccionar B
						li
							a(ng-click="selec_opc_in_question(2)") Seleccionar C
						li
							a(ng-click="selec_opc_in_question(3)") Seleccionar D
						li
							a(ng-click="selec_opc_in_question(4)") Seleccionar E
						li
							a(ng-click="selec_opc_in_question(5)") Seleccionar F
						li.divider
						li
							a(ng-click="sc_reveal_answer()") Revelar correcta


span(ng-show="pg_pregunta.showDetail || showOptions")
	md-list(ng-if="pg_pregunta.tipo_pregunta=='Multiple'")
		md-list-item(ng-repeat="opcion in pg_pregunta.opciones | filter:{id: '!-1'} ")
			md-checkbox(ng-model="topping.wanted")
			p(ng-bind-html="opcion.definicion")
			md-icon.md-secondary.fa.fa-comment(ng-click="" aria-label="Chat")
	

	div.opciones(layout="row" layout-wrap layout-fill ng-if="pg_pregunta.tipo_pregunta=='Test'" style="padding-bottom: 32px;")
		md-whiteframe.pointer.md-whiteframe-z2.btn(ng-class="{'elegida': opcion.elegida, 'correcta-revelada':opcion.is_correct && showCorrects}" ng-if="!opcion.nueva" flex="40" ng-click="elegirOpcion(pg_pregunta, opcion)" ng-repeat="opcion in pg_pregunta.opciones") 
			span(style="font-weight: bold;") {{ indexChar($index) }}. 
			span(ng-bind-html="opcion.definicion") 




