md-whiteframe.md-whiteframe-z2.definicion-frame(layout style="padding: 10px" ng-class-odd="'fondo-gris-odd'")
	span(flex="5" ng-dblclick="actualizarOrdenPregEval(preguntaking)") 
		| {{$parent.$index+1}}.
		input(type="text" placeholder="{{preguntaking.orden}}" ng-model="preguntaking.orden_nuevo" style="width: 33px; font-size: 8pt")
		md-tooltip Presione dobleclick para actualizar orden
	span(ng-bind-html="preguntaking.enunciado" flex="95")


	div.btn-container-edit(layout="row" style="margin-left: -50px;")
		
		md-button.md-icon-button.md-mini(aria-label="Preview" ng-click="quitarPregunta(preguntaking)")
			md-icon.fa.fa-times
			md-tooltip Quitar
				






