.row.hidden-print
	.col-lg-12
		.panel.panel-default.panel-hovered.mb20
			.panel-heading Informes

			.panel-body
				md-content(style="overflow: visible;")
					md-tabs(md-selected="config.informe_tab_actual" md-dynamic-height md-border-bottom)
						
						md-tab(label="Exámenes" md-selected="config.tab_seleccionado" md-on-select="tabSeleccionado(0)")
							md-content.md-padding(style="overflow-y: visible; height: 800px")
								

								md-select(placeholder="Elija un evento" ng-model="selected.evento_id" ng-change="cargar_entidades_categorias()")
									md-option(ng-repeat="event in eventos_infor" ng-value="event.id")
										| Evento: 
										b {{event.nombre}} ({{event.alias}})

								div(style="text-align: center;")
									md-button.md-raised(ng-click="cargarResultados()") Cargar resultados


								md-checkbox(ng-model="config.gran_final" aria-label="Gran final") Solo exámenes hechos de forma 'Dirigida'

								div(style="text-align: center;")
									md-button.md-raised(ng-click="traerTodosLosExamenes()") Traer todos los exámenes

								// Select Entidades
								.row
									.col-sm-12.col-md-12
										div
											md-checkbox(ng-model="config.todas_entidades" style="margin-bottom: 5px; font-size: 9pt;" aria-label="Todas las entidades") Todas las entidades 
										
										select(multiple="true" ng-disabled="config.todas_entidades" ng-model="selected.entidades" style="width: 100%; height: 150px; font-size: 9pt")
											option(ng-repeat="entidad in selected.evento.entidades" ng-value="{{entidad.id}}") {{entidad.nombre}}


								div(style="text-align: center;")
									md-button.md-raised(ng-click="traerTodosLosExamenesPorEntidades()") Todos por entidades

								br

								// Select Categorías
								.row
									.col-sm-4.col-md-4
										div(md-tooltip="La evaluación actual de cada categoría")
											md-checkbox(ng-model="config.todas_categorias" style="margin-bottom: 5px; font-size: 9pt;" aria-label="Todas las categorías") Todas las categorías 

										select(multiple="true" ng-disabled="config.todas_categorias" ng-model="selected.categorias" style="width: 150px; height: 150px; font-size: 9pt")
											option(ng-repeat="categoria in selected.categorias_cargadas" ng-click="cargar_evaluaciones(categoria)" ng-value="{{categoria.id}}") {{categoria.nombre}}


									.col-sm-8.col-md-8(ng-hide="config.todas_categorias || selected.categoria_id.length > 1" style="padding-left: 0px;")
										div(style="height: 26px; font-size: 9pt; padding-top: 5px;")
											| Elija evaluación: 
										
										.div-lista
											div(ng-repeat="evaluacion in selected.evaluaciones" ng-click="cargar_preguntas(evaluacion, $index)" ng-class="{'opcion-seleccionada': evaluacion.selected}") 
												span(ng-hide="evaluacion.actual") {{ ($index+1) + '. ' + evaluacion.descripcion }}
												span(ng-show="evaluacion.actual") {{ ($index+1) }}.  
													b  ACTUAL:   
													|  {{ evaluacion.descripcion }}
				
								//
									select(multiple="true" style="width: 250px; height: 150px; font-size: 9pt; overflow: scroll")
										option(ng-repeat="pregunta in selected.preguntas" ng-model="selected.pregunta_id" 
											ng-click="cmdClickPreguntaSelected(pregunta, $index)" ng-bind-html="($index+1) + '. ' + pregunta.enunciado") 
					


								
								


								md-button.md-raised(ng-click="traerExamenesEntidadesCategorias()") Por entidades-categorías

								md-button.md-raised(ng-click="traerExamenesCategorias()") Por categorías


								form
									.form-group(style="width: 300px;margin-top: 15px;")
										.input-group
											.input-group-addon
												i.fa.fa-search
											input.form-control(type="text" placeholder="Buscar" ng-model="searchExam" style="border-top: 1px solid #ccc; border-right: 1px solid #ccc;")






						md-tab(label="Usuarios" md-selected="config.tab_seleccionado" md-on-select="tabSeleccionado(1)")
							md-content.md-padding(style="overflow-y: visible; height: 600px")
								

								md-select(placeholder="Elija un evento" ng-model="selected.evento_id" ng-change="cargar_entidades_categorias()")
									md-option(ng-repeat="event in eventos_infor" ng-value="event.id")
										| Evento: 
										b {{event.nombre}} ({{event.alias}})

								
								// Select Entidades
								.row
									.col-sm-12.col-md-12
										div
											md-checkbox(ng-model="config.todas_entidades" style="margin-bottom: 5px; font-size: 9pt;" aria-label="Todas las entidades") Todas las entidades 
										
										select(multiple="true" ng-disabled="config.todas_entidades" ng-model="selected.entidades" style="width: 100%; height: 150px; font-size: 9pt")
											option(ng-repeat="entidad in selected.evento.entidades" ng-value="{{entidad.id}}") {{entidad.nombre}}


								div(style="text-align: center;")
									md-button.md-raised(ng-click="traerTodosLosExamenesPorEntidades()") Todos por entidades

								br

								// Select Categorías
								.row
									.col-sm-4.col-md-4
										div(md-tooltip="La evaluación actual de cada categoría")
											md-checkbox(ng-model="config.todas_categorias" style="margin-bottom: 5px; font-size: 9pt;" aria-label="Todas las categorías") Todas las categorías 

										select(multiple="true" ng-disabled="config.todas_categorias" ng-model="selected.categorias" style="width: 150px; height: 150px; font-size: 9pt")
											option(ng-repeat="categoria in selected.categorias_cargadas" ng-click="cargar_evaluaciones(categoria)" ng-value="{{categoria.id}}") {{categoria.nombre}}


								
								


								md-button.md-raised(ng-click="traerExamenesEntidadesCategorias()") Por entidades-categorías

								md-button.md-raised(ng-click="traerExamenesCategorias()") Por categorías

								md-button.md-raised(ng-click="traerIncritosEnt()") Ver inscritos


								form
									.form-group(style="width: 300px;margin-top: 15px;")
										.input-group
											.input-group-addon
												i.fa.fa-search
											input.form-control(type="text" placeholder="Buscar" ng-model="searchExam" style="border-top: 1px solid #ccc; border-right: 1px solid #ccc;")





				hr.wide
				h5 Orientación de la página:
				.control-group
					.radio
						label
							input(type="radio" ng-model="config.orientacion" value="oficio_horizontal")
							.text Oficio Horizontal
					.radio
						label
							input(type="radio" ng-model="config.orientacion" value="carta_horizontal")
							.text Carta horizontal
					.radio
						label
							input(type="radio" ng-model="config.orientacion" value="vertical")
							.text Vertical


				hr.wide
				h5 {{descripcion_informe}}



.informes-pages.page-wrap.margen0(ui-view="report_content")
	h5(style="text-align: center") Aquí saldrán tus reportes


