
<div class="row hidden-print">
  <div class="col-lg-12">
    <div class="panel panel-default panel-hovered mb20">
      <div class="panel-heading">Informes</div>
      <div class="panel-body">
        <md-content style="overflow: visible;">
          <md-tabs md-selected="config.informe_tab_actual" md-dynamic-height md-border-bottom>
            <md-tab label="Pacientes" md-on-select="tabSeleccionado(0)">
              <md-content style="overflow-y: visible; height: 300px" class="md-padding">
                <!--h1.md-display-2 Tab One	-->
                
                <div class="form-group col-lg-4 col-sm-12 col-xs-12">
                  <ui-select ng-model="seleccion.paciente" style="margin: 0!important;width: 100%; padding-bottom: 0!important">
                    <ui-select-match placeholder="Pacientes" allow-clear="true">{{$select.selected.nombres + ' ' + $select.selected.apellidos}}</ui-select-match>
                    <ui-select-choices repeat="paciente in pacientes | filter: $select.search">
                      <div ng-bind-html="paciente.nombres + ' ' + paciente.apellidos | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
                <md-button ng-click="verPacientes()">Pacientes</md-button>
                <md-button ng-click="verExamenIngreso()">Examen de ingreso</md-button>
              </md-content>
            </md-tab>
            <md-tab label="Usuarios" md-on-select="tabSeleccionado(1)">
              <md-content class="md-padding">
                <md-button ng-click="verUsuarios()">Usuarios</md-button>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
        <hr class="wide">
        <h5>Orientación de la página:</h5>
        <div class="control-group">
          <div class="radio">
            <label>
              <input type="radio" ng-model="config.orientacion" value="oficio_horizontal">
              <div class="text">Oficio Horizontal</div>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="config.orientacion" value="carta_horizontal">
              <div class="text">Carta horizontal</div>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="config.orientacion" value="vertical">
              <div class="text">Vertical</div>
            </label>
          </div>
        </div>
        <hr class="wide">
        <h5>{{descripcion_informe}}</h5>
      </div>
    </div>
  </div>
</div>
<div ui-view="report_content" class="informes-pages page-wrap margen0">
  <h5 style="text-align: center">Aquí saldrán tus reportes</h5>
</div>