.row.body(ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $parent.$last==false }")
	

	.col-lg-12.col-sm-12.col-xs-12.marg-pad-0.text-center
		h2 Exámenes por entidad
		h3 {{$parent.selected.evento}}




	.col-lg-12.col-sm-12.col-xs-12.marg-pad-0
		div(ng-repeat="entidad in entidades")
			
			md-whiteframe.md-whiteframe-z2.definicion-frame(layout style="padding: 10px; margin: 15px; display: block; ")
				h3.center
					img(ng-src="{{ imagesPath + entidad.logo_nombre }}" style="width: 35px")  
					|  {{ entidad.nombre_entidad }} - {{ entidad.alias_entidad }}
					md-tooltip {{ entidad.lider_nombre }}

			table.table.table-striped.table-hover.table-bordered
				thead
					th(style="padding-right: 15px;") 
						a(href="" ng-click="sortType = 'examen_id'; sortReverse = !sortReverse")
							| Id
							span.fa.fa-caret-down(ng-show="sortType == 'examen_id' && !sortReverse")
							span.fa.fa-caret-up(ng-show="sortType == 'examen_id' && sortReverse")
						md-tooltip Código de examen
					th(style="padding-right: 15px;") 
						| No
						md-tooltip Indice
					th 
						a(href="" ng-click="sortType = 'nombres'; sortReverse = !sortReverse")
							| Participante
							span.fa.fa-caret-down(ng-show="sortType == 'nombres' && !sortReverse")
							span.fa.fa-caret-up(ng-show="sortType == 'nombres' && sortReverse")
					th 
						a(href="" ng-click="sortType = 'categoria'; sortReverse = !sortReverse")
							| Categ
							span.fa.fa-caret-down(ng-show="sortType == 'categoria' && !sortReverse")
							span.fa.fa-caret-up(ng-show="sortType == 'categoria' && sortReverse")
						md-tooltip Categoría
					th 
						a(href="" ng-click="sortType = 'examen_at'; sortReverse = !sortReverse")
							| Fecha
							span.fa.fa-caret-down(ng-show="sortType == 'examen_at' && !sortReverse")
							span.fa.fa-caret-up(ng-show="sortType == 'examen_at' && sortReverse")
						md-tooltip Fecha realizado
					th 
						a(href="" ng-click="sortType = 'tiempo'; sortReverse = !sortReverse")
							| Tiempo
							span.fa.fa-caret-down(ng-show="sortType == 'tiempo' && !sortReverse")
							span.fa.fa-caret-up(ng-show="sortType == 'tiempo' && sortReverse")
						md-tooltip Duración del examen
					th 
						a(href="" ng-click="sortType = 'cantidad_pregs'; sortReverse = !sortReverse")
							| Pregs
							span.fa.fa-caret-down(ng-show="sortType == 'cantidad_pregs' && !sortReverse")
							span.fa.fa-caret-up(ng-show="sortType == 'cantidad_pregs' && sortReverse")
					th Malas
						md-tooltip Incorrectas
					th Buenas
						md-tooltip Correctas
					th 
						a(href="" ng-click="sortType = 'promedio'; sortReverse = !sortReverse")
							| Puntaje
							span.fa.fa-caret-down(ng-show="sortType == 'promedio' && !sortReverse")
							span.fa.fa-caret-up(ng-show="sortType == 'promedio' && sortReverse")
				
				tbody
					tr(ng-repeat="examen in entidad.examenes | filter:searchExam | orderObjectBy:sortType:sortReverse" )
						td(style="font-size: 7pt;") {{ examen.examen_id }}
						td(style="font-size: 7pt;") {{ $index +1 }}
							md-tooltip Orden
						td 
							img(ng-src="{{ imagesPath + examen.imagen_nombre }}" style="width: 25px")
							| {{ examen.nombres + ' ' + examen.apellidos }}
						td {{ examen.abrev_categ }}
						td(style="font-size: 7pt;") {{ examen.examen_at }}
						td(style="font-size: 7pt;") {{ examen.resultados.tiempo | secondsToDateTime:true }}
						td {{ examen.resultados.cantidad_pregs }}
						td {{ examen.resultados.cantidad_pregs - examen.resultados.correctas }}
							md-tooltip Incorrectas
						td {{ examen.resultados.correctas }}
							md-tooltip Correctas
						td.td-contenedora {{ examen.resultados.promedio | decimales_if:1 }}%

							.menu-puesto-exam 
								.btn-group
									a.btn.btn-default.btn-xs(href="" ng-click="mostrarPuesto(examen, $index +1, entidad)")
										i.fa.fa-child
										md-tooltip Mostrar en pantalla
									a.btn.btn-danger.btn-xs(href="" ng-click="eliminarExamen(examen)")
										i.fa.fa-times
										md-tooltip Eliminar examen


