.row.body(ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $parent.$last==false }")
	

	.col-lg-12.col-sm-12.col-xs-12.marg-pad-0.text-center
		h2(style="margin-top: 5px; margin-bottom: 0px") Exámenes por Entidades - Categorías
		h3(style="margin-top: 0px; margin-bottom: 0px") {{$parent.selected.evento.nombre}} ({{ $parent.selected.evento.alias }})

		hr


	.col-lg-12.col-sm-12.col-xs-12.marg-pad-0

		table.table-bordered.table-bordered2.table-striped.table-striped2
			thead
				th(style="padding-right: 15px;") 
					a(href="" ng-click="sortType = 'examen_id'; sortReverse = !sortReverse")
						| Id
						span.fa.fa-caret-down(ng-show="sortType == 'examen_id' && !sortReverse")
						span.fa.fa-caret-up(ng-show="sortType == 'examen_id' && sortReverse")
					md-tooltip Código de examen
				th(style="padding-right: 15px;") 
					| No
					md-tooltip Indice
				th 
					a(href="" ng-click="sortType = 'nombres'; sortReverse = !sortReverse")
						| Participante
						span.fa.fa-caret-down(ng-show="sortType == 'nombres' && !sortReverse")
						span.fa.fa-caret-up(ng-show="sortType == 'nombres' && sortReverse")
				th Ent
				th 
					a(href="" ng-click="sortType = 'categoria'; sortReverse = !sortReverse")
						| Categ
						span.fa.fa-caret-down(ng-show="sortType == 'categoria' && !sortReverse")
						span.fa.fa-caret-up(ng-show="sortType == 'categoria' && sortReverse")
					md-tooltip Categoría
				th 
					a(href="" ng-click="sortType = 'examen_at'; sortReverse = !sortReverse")
						| Fecha
						span.fa.fa-caret-down(ng-show="sortType == 'examen_at' && !sortReverse")
						span.fa.fa-caret-up(ng-show="sortType == 'examen_at' && sortReverse")
					md-tooltip Fecha realizado
				th 
					a(href="" ng-click="sortType = 'tiempo'; sortReverse = !sortReverse")
						| Tiempo
						span.fa.fa-caret-down(ng-show="sortType == 'tiempo' && !sortReverse")
						span.fa.fa-caret-up(ng-show="sortType == 'tiempo' && sortReverse")
					md-tooltip Duración del examen

				th 
					a(href="" ng-click="sortType = 'cantidad_pregs'; sortReverse = !sortReverse")
						| Pregs
						span.fa.fa-caret-down(ng-show="sortType == 'cantidad_pregs' && !sortReverse")
						span.fa.fa-caret-up(ng-show="sortType == 'cantidad_pregs' && sortReverse")
				th Buenas
					md-tooltip Correctas
				th 
					a(href="" ng-click="sortType = 'promedio'; sortReverse = !sortReverse")
						| Puntaje
						span.fa.fa-caret-down(ng-show="sortType == 'promedio' && !sortReverse")
						span.fa.fa-caret-up(ng-show="sortType == 'promedio' && sortReverse")
			
			tbody
				tr(ng-repeat="examen in examenes | filter:searchExam | orderObjectBy:sortType:sortReverse" )
					td(style="font-size: 7pt;") {{ examen.examen_id }}
					td(style="font-size: 7pt;") {{ $index +1 }}
						md-tooltip Orden
					td 
						.ellipsis200.usuario-listado( uib-popover-template="views+'usuarios/popoverUsuarioInfo.tpl.html'" 
							popover-title="{{examen.nombres + ' ' + examen.apellidos}}" 
							popover-trigger="'mouseenter'" popover-popup-delay="500" ) 
							| {{ examen.nombres + ' ' + examen.apellidos }}
					td 
						.ellipsis200.usuario-listado( uib-popover-template="views+'informes/popoverEntidadInfo.tpl.html'" 
							popover-title="{{examen.nombre_entidad}}" 
							popover-trigger="'mouseenter'" popover-popup-delay="500" style="width: 80px") 
							| {{ examen.alias_entidad }}

					td {{ examen.abrev_categ }}
					td(style="font-size: 7pt;") {{ examen.examen_at }}
					td(style="font-size: 7pt;") {{ examen.res_tiempo_format }}
					td {{ examen.res_cant_pregs }}
					td {{ examen.res_correctas }}
						md-tooltip Correctas
					td.td-contenedora 
						span(ng-show="examen.res_by_promedio") {{ examen.res_promedio | decimales_if:1 }}%
						span(ng-hide="examen.res_by_promedio") {{ examen.res_puntos }}

						.menu-puesto-exam 
							.btn-group
								a.btn.btn-default.btn-xs(href="" ng-click="mostrarPuesto(examen, $index +1)")
									i.fa.fa-child
									md-tooltip Mostrar en pantalla
								a.btn.btn-danger.btn-xs(href="" ng-click="eliminarExamen(examen)")
									i.fa.fa-times
									md-tooltip Eliminar examen



