.page.page-auth

	span(ng-show="in_evento_actual.mostrar_nombre_punto")
		.row(ng-hide="editando_nombre_punto")
			.col-md-12#nombre_punto(ng-click="editarNombrePunto($event)")
				.titulo-3d(ng-bind-html=" in_evento_actual.ip ")

		.auth-container(style="margin-bottom: 50px;" ng-show="editando_nombre_punto")
			.form-container
				form.form-horizontal(ng-submit="guardarNombrePunto()")
					md-input-container.md-block(flex-gt-sm style="margin-bottom: 0px")
						label Nombre de equipo
						input(type="text" ng-model="in_evento_actual.ip")
						md-tooltip  Ingresa un nombre fácil de identificar
					



	.auth-container
		
		.form-head.mb20
			h1.site-logo.h2.mb5.mt5.text-center.text-uppercase.text-bold
				a(href="") Wissen 
					span(ng-show="MySocket.readyState() == 3 && in_evento_actual.gran_final" style="color: red;")
						icon.fa.fa-warning(style="font-size: 30px;")
						md-tooltip Desconectado del chat...
					span(ng-show="MySocket.readyState() == 1")
						icon.fa.fa-fighter-jet(style="font-size: 30px;")
						md-tooltip Conectado al chat

			h5.text-normal.h5.text-center Pon a prueba tu conocimiento


		.form-container
			form.form-horizontal(ng-submit="login()")
				md-input-container.md-block(flex-gt-sm style="padding-bottom: 0px")
					label Nombre de usuario
					input(type="text" ng-model="credentials.username" name="usuario")
					md-tooltip  Ingresa tu nombre de usuario
				

				md-input-container.md-block(flex-gt-sm style="margin-bottom: 0px")
					label Password
					input(type="password" ng-model="credentials.password" name="password")
					md-tooltip  Ingresa tu password
				

				
				
				.clearfix(ng-if="false")
					.ui-checkbox.ui-checkbox-primary.right
						label
							input(type="checkbox")
							span Remember me
				
				.btn-group.btn-group-justified.mb15
					.btn-group
						button.btn.btn-facebook(type="button" ng-click="entrar_como_invitado()")
							span.fa.fa-smile-o  Soy invitado

					.btn-group
						button.btn.btn-success(type="submit") Entrar


				.clearfix.mb15(ng-show="false")
					a.text-success.small(href="" ng-click="recuperar_password()") ¿Olvidaste cómo ingresar?
				
			div.clearfix.text-center.small
				p Modificar 
					a(href="" ng-click="mostrar_modificar_servidor()")  el equipo servidor

				form.form-horizontal(ng-submit="guardar_servidor()" ng-show="modificando_servidor")
					md-input-container.md-block(flex-gt-sm style="margin-bottom: 0px")
						label Equipo servidor
						input(type="text" ng-model="dominio")
						md-tooltip  Ingresa el equipo principal, el servidor Apache y de Base de datos
				
					.btn-group.btn-group-justified.mb15
						.btn-group
							button.btn.btn-default(type="button" ng-click="borrar_servidor()")
								span.fa.fa-eraser  Borrar
						.btn-group
							button.btn.btn-purple(type="submit")
								span.fa.fa-check  Aplicar




	.auth-container(style="margin-top: 150px; max-width: 450px;padding-left: 0px;padding-right: 0px")
		span(ng-show="SocketData.usuarios_all.length == 0")
			.form-head.mb20
				h1.site-logo.h2.mb5.mt5.text-center.text-uppercase.text-bold
					a(href="") Código QR
				h5.text-normal.h5.text-center Escanea este código desde un dispositivo con privilegios:


			.form-container(style="text-align: center;")
				qr(text="in_evento_actual.qr" size="300" ng-if="in_evento_actual.qr")
		
		span(ng-show="SocketData.usuarios_all.length > 0")

			section
				md-subheader.md-primary Usuarios
					md-input-container.filtrarusuario(flex )
						label Filtrar
						input(type="text" ng-model="filtro" )
					button.btn.btn-primary(type="button" ng-click="ingresar_seleccionado()") Ingresar
				md-list.md-dense 

					md-list-item.md-2-line(ng-repeat="usuario in SocketData.usuarios_all | filter:filtro | orderBy:'nombres' " ng-click="seleccionarUsu(usuario)")
						img.md-avatar(ng-src="{{imagesPath + usuario.imagen_nombre}}" alt="{{usuario.username}}")
						.md-list-item-text
							h3 {{ ($index+1) + '. ' + usuario.nombres + ' ' + usuario.apellidos}}
							h4 {{ usuario.nombre_entidad }}
						md-checkbox.md-secondary(ng-model="usuario.seleccionado" ng-click="seleccionarCkUsu(usuario)" aria-label="Seleccionado")





