md-dialog(aria-label="Contrase単a" ng-cloak)
  form(ng-submit="validar(pass)")

    md-dialog-content
      div.md-dialog-content
        h4 Se requiere contrase単a para proseguir
        md-input-container.md-block(flex-gt-sm style="margin-bottom: 0px")
          label Contrase単a
          input(type="password" ng-model="pass")
          md-tooltip  Contrase単a alterna del evento actual

    md-dialog-actions(layout="row")

      md-button(ng-click="cancelar()") Cancelar
      md-button(type="submit") Continuar

