
<md-dialog aria-label="Contraseña" ng-cloak>
  <form ng-submit="validar(pass)">
    <md-dialog-content>
      <div class="md-dialog-content">
        <h4>Se requiere contraseña para proseguir</h4>
        <md-input-container flex-gt-sm style="margin-bottom: 0px" class="md-block">
          <label>Contraseña</label>
          <input type="password" ng-model="pass">
          <md-tooltip> Contraseña alterna del evento actual</md-tooltip>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancelar()">Cancelar</md-button>
      <md-button type="submit">Continuar</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>