
<div class="panel panel-default panel-hovered panel-stacked mb20">
  <div class="panel-heading">
      
    Servidor
    <md-menu>
      <button aria-label="Abrir menú" md-ink-ripple="" ng-click="openMenu($mdOpenMenu, $event)" class="btn btn-pink btn-xs right">Conexión  
        <div class="fa fa-chevron-right"></div>
        <div class="md-ripple-container"></div>
      </button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="crearservidor($event)">Crear Servidor</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="CerrarServidor($event)">Cerrar Servidor</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="Conectar($event)">Conectar</md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="qrScanear()">QR Scanner</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
  <div class="panel-body">
    <div ng-class="{'cursor-unselect':deseleccionar}" class="clt-pc-container">
      <div class="options-clts btn-group">
        <button type="button" ng-model="deseleccionar" uib-btn-checkbox class="btn btn-default btn-xs deseleccionador">
          <icon class="fa fa-eye-slash"></icon>
          <md-tooltip>Deseleccionar</md-tooltip>
        </button>
        <button type="button" ng-click="deseleccionarTodo()" class="btn btn-default btn-xs deseleccionador">A
          <icon class="fa fa-eye-slash"></icon>
          <md-tooltip>Deseleccionar todo</md-tooltip>
        </button>
        <button type="button" ng-click="seleccionarTodo()" class="btn btn-default btn-xs deseleccionador">A
          <icon class="fa fa-eye"></icon>
          <md-tooltip>Seleccionar todo</md-tooltip>
        </button>
        <button type="button" ng-click="empezarExamenCltsSeleccionados()" class="btn btn-default btn-xs deseleccionador">
          <icon class="fa fa-play"></icon>
          <md-tooltip>Empezar examen</md-tooltip>
        </button>
        <button type="button" ng-click="nextQuestionCltsSeleccionados()" class="btn btn-danger btn-xs deseleccionador">
          <icon class="fa fa-arrow-right"></icon>
          <md-tooltip>Siguiente pregunta</md-tooltip>
        </button>
        <button type="button" ng-click="actualizarClts()" class="btn btn-default btn-xs deseleccionador">
          <icon class="fa fa-refresh"></icon>
          <md-tooltip>Actualizar</md-tooltip>
        </button>
      </div>
      <h4>Registrados</h4>
      <ul>
        <li ng-repeat="cliente in SocketData.clientes | filter:{'registrado':true}" ng-click="clickedClt($event, cliente)" ng-dblclick="showSidenavEditUsu(cliente)" ng-mouseover="sobreClt($event, cliente)" ng-class="{'seleccionado': cliente.seleccionado, 'cursor-unselect':deseleccionar }" class="md-whiteframe-1dp clt-pc unselectable">
          <header><img ng-src="{{imagesPath + cliente.usuario.imagen_nombre}}" alt="{{cliente.usuario.username}}" class="img-perfil nodrag"><img ng-src="{{ imagesPath + cliente.usuario.entidad.logo}}" alt="{{cliente.usuario.username}}" class="img-entidad nodrag">
            <md-tooltip>{{cliente.usuario.entidad.nombre}}</md-tooltip>
          </header>
          <div ng-class="{'incorrect': cliente.answered=='incorrect', 'correct': cliente.answered=='correct' }" class="info"> 
            <h5 class="name text-center nombresellipsis">{{cliente.usuario.nombres}} {{cliente.usuario.apellidos}}
              <md-tooltip>{{cliente.usuario.username}}</md-tooltip>
            </h5>
            <div ng-hide="cliente.usuario.entidad.alias" style="color: white;" class="alias-enti">{{cliente.nombre_punto}}</div>
            <div ng-show="cliente.usuario.entidad.alias" class="alias-enti">{{cliente.usuario.entidad.alias}}</div>
            <h6 style="margin: 0px;">{{ cliente.nombre_punto }}</h6>
            <md-menu>
              <button aria-label="Abrir menú" ng-click="openMenuCateg($mdOpenMenu, $event)" class="btn btn-pink btn-xs right">
                <!--span(ng-repeat=" cliente.usuario.inscripciones | categsInscritasDeUsuario:categorias_king:USER.idioma_main_id | filter:{selected:true} ") | {{categoriaking.nombre}} 
                --><span ng-bind-html="categoriaSelect(cliente).nombre"></span>
                <div class="fa fa-chevron-right"></div>
                <div class="md-ripple-container"></div>
              </button>
              <md-menu-content width="4">
                <md-menu-item ng-repeat="categoriatrad in categorias_traducidas">
                  <md-button ng-click="cambiarCategSel(cliente, categoriatrad)">{{ categoriatrad.nombre }}</md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button ng-click="empezarExamenCliente(cliente)">Empezar examen</md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="nextQuestionCliente(cliente)">Siguiente pregunta</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
          <div class="opts-clt btn-group">
            <button type="button" ng-click="cerrarSesion(cliente)" class="btn btn-default btn-xs deseleccionador">
              <icon class="fa fa-sign-out"></icon>
              <md-tooltip>Cerrar sesión</md-tooltip>
            </button>
            <button type="button" ng-click="showSidenavEditUsu(cliente)" class="btn btn-default btn-xs deseleccionador">
              <icon class="fa fa-pencil"></icon>
              <md-tooltip>Editar</md-tooltip>
            </button>
          </div>
        </li>
      </ul>
      <div class="disponibles-title">
        <h4>Disponibles</h4>
        <ul>
          <li ng-repeat="cliente in SocketData.clientes | filter:{'registrado':false} " ng-click="clickedClt($event, cliente)" ng-dblclick="showSidenavSelectUsu(cliente)" ng-mouseover="sobreClt($event, cliente)" ng-class="{'seleccionado': cliente.seleccionado, 'cursor-unselect':deseleccionar }" class="md-whiteframe-1dp clt-pc unselectable">
            <header ng-show="cliente.registrado"></header>
            <div class="info"> 
              <h5 ng-model="cliente.nombre_punto" contenteditable guardar-nombre-punto="guardarNombrePunto">{{ cliente.nombre_punto }}
                <md-tooltip>Nombre de punto</md-tooltip>
              </h5>
            </div>
            <div class="opts-clt btn-group">
              <button type="button" ng-click="showSidenavSelectUsu(cliente)" class="btn btn-default btn-xs deseleccionador">
                <icon class="fa fa-users"></icon>
                <md-tooltip>Seleccionar un usuario</md-tooltip>
              </button>
              <button type="button" ng-click="guardarNombrePunto(cliente)" class="btn btn-default btn-xs deseleccionador">
                <icon class="fa fa-save"></icon>
                <md-tooltip>Guardar nombre de punto</md-tooltip>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="message-form">
      <form ng-submit="enviarMensaje()">
        <div class="row">
          <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
            <md-input-container flex-gt-sm style="margin-bottom: -20px; padding-bottom: 0px" class="md-block">
              <label>Mensaje</label>
              <input id="msg-especifico" type="text" ng-model="newMensaje">
              <md-tooltip> Envía un mensaje</md-tooltip>
            </md-input-container>
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
            <md-button aria-label="Enviar" type="submit" style="min-width:95%;  top: 7px;" class="md-raised">Enviar</md-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<sidenav-select-usu-dir></sidenav-select-usu-dir>
<sidenav-edit-usu-dir></sidenav-edit-usu-dir>
<div class="panel panel-default panel-hovered panel-stacked mb20">
  <div class="panel-heading">
      
    Comandos
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <select multiple="true" style="width: 150px; height: 150px; font-size: 9pt">
          <option ng-repeat="categoria in categorias_king" ng-model="cmdCategSelected" ng-click="cmdClickCategSelected(categoria)">{{categoria.nombre}}</option>
        </select>
        <select multiple="true" style="width: 250px; height: 150px; font-size: 9pt; overflow: scroll">
          <option ng-repeat="pregunta in cmdPreguntasTraduc" ng-model="cmdPreguntaSelected" ng-click="cmdClickPreguntaSelected(pregunta, $index)" ng-bind-html="($index+1) + '. ' + pregunta.enunciado"> </option>
        </select><span style="font-weight: bold;">Preg: {{ SocketData.config.info_evento.preg_actual }}</span>
        <button ng-click="showQuestion()" class="btn btn-default">Mostrar pregunta</button>
        <button ng-click="showPuntajeParticip()" class="btn btn-default">Mostrar puntaje</button>
        <md-checkbox ng-click="toggleShowLogoEntidadParticipantes()" ng-true-value="1" ng-false-value="0" ng-model="cmdShowLogoEntidadPartici" aria-label="Mostrar logos">Mostrar logo entidades</md-checkbox>
      </div>
    </div>
    <md-button ng-click="showParticipantes()" class="md-raised">Mostrar participantes</md-button>
    <button ng-click="empezarExamen()" class="btn btn-primary">Empezar exámen  <i class="fa fa-play"></i></button>
    <button ng-click="nextQuestion()" class="btn btn-danger">Siguiente pregunta  <i class="fa fa-arrow-right"></i></button>
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <md-content>
          <div style="width: 200px;margin-top: 15px;" class="form-group">
            <div class="input-group">
              <md-tooltip>Enviar a los clientes seleccionados a una pregunta</md-tooltip>
              <input type="number" min="1" placeholder="Número" ng-model="cmdNoPregunta" style="border: 1px solid #ccc; border-right: 0px;" class="form-control">
              <div class="input-group-btn">
                <button type="button" ng-click="gotoNoQuestionClt()" style="height: 34px; border-left: 0px;" class="btn btn-default">Ir</button>
              </div>
            </div>
          </div>
        </md-content>
      </div>
    </div>
  </div>
</div>
<!-- RESULTADOS, EXÁMENES, PUESTOS!!!!!!!-->
<md-button ng-if="!show_result_table" ng-click="mostrar_result_table()" class="md-raised">Tabla de resultados</md-button>
<puestos-dir ng-if="show_result_table"></puestos-dir>
<!-- RESULTADOS, EXÁMENES, PUESTOS!!!!!!!-->



<div class="panel panel-default panel-hovered panel-stacked mb20">
  <div class="panel-heading">
      
    Chat público
  </div>
  <div class="panel-body">
    <chat-container-dir></chat-container-dir>
  </div>
</div>