.panel.panel-default.panel-hovered.panel-stacked.mb20
	.panel-heading   
		| Servidor

		md-menu
			button.btn.btn-pink.btn-xs.right(aria-label="Abrir menú" md-ink-ripple="" ng-click="openMenu($mdOpenMenu, $event)")
				| Conexión  
				.fa.fa-chevron-right
				.md-ripple-container
			md-menu-content(width="4")
				md-menu-item
					md-button(ng-click="crearservidor($event)")
						| Crear Servidor
				md-menu-item
					md-button(ng-click="CerrarServidor($event)")
						| Cerrar Servidor
				md-menu-item
					md-button(ng-click="Conectar($event)")
						| Conectar
				md-menu-divider
				md-menu-item
					md-button(ng-click="qrScanear()")
						| QR Scanner


	.panel-body

		.clt-pc-container(ng-class="{'cursor-unselect':deseleccionar}")

			.options-clts.btn-group
				button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-model="deseleccionar" uib-btn-checkbox)
					icon.fa.fa-eye-slash
					md-tooltip Deseleccionar
				button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="deseleccionarTodo()")
					| A
					icon.fa.fa-eye-slash
					md-tooltip Deseleccionar todo

				button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="seleccionarTodo()")
					| A
					icon.fa.fa-eye
					md-tooltip Seleccionar todo

				button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="empezarExamenCltsSeleccionados()")
					icon.fa.fa-play
					md-tooltip Empezar examen

				button.btn.btn-danger.btn-xs.deseleccionador(type="button" ng-click="nextQuestionCltsSeleccionados()")
					icon.fa.fa-arrow-right
					md-tooltip Siguiente pregunta

				button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="actualizarClts()")
					icon.fa.fa-refresh
					md-tooltip Actualizar

			h4 Registrados

			ul
				li.md-whiteframe-1dp.clt-pc.unselectable(ng-repeat="cliente in SocketData.clientes | filter:{'registrado':true}" ng-click="clickedClt($event, cliente)"  
					ng-dblclick="showSidenavEditUsu(cliente)" ng-mouseover="sobreClt($event, cliente)" ng-class="{'seleccionado': cliente.seleccionado, 'cursor-unselect':deseleccionar }")
					header
						
						img.img-perfil.nodrag(ng-src="{{imagesPath + cliente.usuario.imagen_nombre}}" alt="{{cliente.usuario.username}}")

						
						img.img-entidad.nodrag(ng-src="{{ imagesPath + cliente.usuario.entidad.logo}}" alt="{{cliente.usuario.username}}")
						md-tooltip {{cliente.usuario.entidad.nombre}}
				
					.info(ng-class="{'incorrect': cliente.answered=='incorrect', 'correct': cliente.answered=='correct' }") 
						h5.name.text-center.nombresellipsis {{cliente.usuario.nombres}} {{cliente.usuario.apellidos}}
							md-tooltip {{cliente.usuario.username}}
						.alias-enti(ng-hide="cliente.usuario.entidad.alias" style="color: white;") {{cliente.nombre_punto}}
						.alias-enti(ng-show="cliente.usuario.entidad.alias") {{cliente.usuario.entidad.alias}}
						h6(style="margin: 0px;") {{ cliente.nombre_punto }}

						md-menu
							button.btn.btn-pink.btn-xs.right(aria-label="Abrir menú" ng-click="openMenuCateg($mdOpenMenu, $event)")
								//span(ng-repeat=" cliente.usuario.inscripciones | categsInscritasDeUsuario:categorias_king:USER.idioma_main_id | filter:{selected:true} ") 
									| {{categoriaking.nombre}} 
								span(ng-bind-html="categoriaSelect(cliente).nombre")
								.fa.fa-chevron-right
								.md-ripple-container
							md-menu-content(width="4")
								md-menu-item(ng-repeat="categoriatrad in categorias_traducidas")
									md-button(ng-click="cambiarCategSel(cliente, categoriatrad)")
										| {{ categoriatrad.nombre }}
								md-menu-divider
								md-menu-item
									md-button(ng-click="empezarExamenCliente(cliente)")
										| Empezar examen
								md-menu-item
									md-button(ng-click="nextQuestionCliente(cliente)")
										| Siguiente pregunta

					.opts-clt.btn-group
						button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="cerrarSesion(cliente)")
							icon.fa.fa-sign-out
							md-tooltip Cerrar sesión
						button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="showSidenavEditUsu(cliente)")
							icon.fa.fa-pencil
							md-tooltip Editar


			.disponibles-title
				h4 Disponibles

				ul
					li.md-whiteframe-1dp.clt-pc.unselectable(ng-repeat="cliente in SocketData.clientes | filter:{'registrado':false} " ng-click="clickedClt($event, cliente)" 
						ng-dblclick="showSidenavSelectUsu(cliente)" ng-mouseover="sobreClt($event, cliente)" ng-class="{'seleccionado': cliente.seleccionado, 'cursor-unselect':deseleccionar }")
						header(ng-show="cliente.registrado")
							
						.info 
							h5(ng-model="cliente.nombre_punto" contenteditable guardar-nombre-punto="guardarNombrePunto") {{ cliente.nombre_punto }}
								md-tooltip Nombre de punto

						.opts-clt.btn-group
							button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="showSidenavSelectUsu(cliente)")
								icon.fa.fa-users
								md-tooltip Seleccionar un usuario
							button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="guardarNombrePunto(cliente)")
								icon.fa.fa-save
								md-tooltip Guardar nombre de punto





		.message-form
			form(ng-submit="enviarMensaje()")
				.row
					.col-lg-10.col-md-9.col-sm-9.col-xs-12
						md-input-container.md-block(flex-gt-sm style="margin-bottom: -20px; padding-bottom: 0px")
							label Mensaje
							input#msg-especifico(type="text" ng-model="newMensaje")
							md-tooltip  Envía un mensaje

					.col-lg-1.col-md-2.col-sm-2.col-xs-12
						md-button.md-raised(aria-label="Enviar" type="submit" style="min-width:95%;  top: 7px;")
							| Enviar



sidenav-select-usu-dir
sidenav-edit-usu-dir


.panel.panel-default.panel-hovered.panel-stacked.mb20
	.panel-heading   
		| Comandos

	.panel-body
		.row
			.col-xs-12.col-md-7
				select(multiple="true" style="width: 150px; height: 150px; font-size: 9pt")
					option(ng-repeat="categoria in categorias_king" ng-model="cmdCategSelected" ng-click="cmdClickCategSelected(categoria)") {{categoria.nombre}}
				select(multiple="true" style="width: 250px; height: 150px; font-size: 9pt; overflow: scroll")
					option(ng-repeat="pregunta in cmdPreguntasTraduc" ng-model="cmdPreguntaSelected" 
						ng-click="cmdClickPreguntaSelected(pregunta, $index)" ng-bind-html="($index+1) + '. ' + pregunta.enunciado") 
				
				span(style="font-weight: bold;") Preg: {{ SocketData.config.info_evento.preg_actual }}
				button.btn.btn-default(ng-click="showQuestion()") Mostrar pregunta
				
				button.btn.btn-default(ng-click="showPuntajeParticip()") Mostrar puntaje
				
				md-checkbox(ng-click="toggleShowLogoEntidadParticipantes()" ng-true-value="1" ng-false-value="0" ng-model="cmdShowLogoEntidadPartici" aria-label="Mostrar logos") Mostrar logo entidades

		md-button.md-raised(ng-click="showParticipantes()") Mostrar participantes
		
		button.btn.btn-primary(ng-click="empezarExamen()") Empezar exámen  
			i.fa.fa-play
		button.btn.btn-danger(ng-click="nextQuestion()") Siguiente pregunta  
			i.fa.fa-arrow-right


		.row
			.col-xs-12.col-md-7
				md-content
					.form-group(style="width: 200px;margin-top: 15px;")
						.input-group
							md-tooltip Enviar a los clientes seleccionados a una pregunta
							input.form-control(type="number" min="1" placeholder="Número" ng-model="cmdNoPregunta" style="border: 1px solid #ccc; border-right: 0px;")
							.input-group-btn
								button.btn.btn-default(type="button" ng-click="gotoNoQuestionClt()" style="height: 34px; border-left: 0px;") Ir




// RESULTADOS, EXÁMENES, PUESTOS!!!!!!!

md-button.md-raised(ng-if="!show_result_table" ng-click="mostrar_result_table()") Tabla de resultados
puestos-dir(ng-if="show_result_table")

// RESULTADOS, EXÁMENES, PUESTOS!!!!!!!




.panel.panel-default.panel-hovered.panel-stacked.mb20
	.panel-heading   
		| Chat público

	.panel-body

		chat-container-dir



