.panel.panel-default.panel-hovered.panel-stacked.mb20
	.panel-heading   
		| {{ 'SERVIDOR_TL' | translate }}

		md-menu
			button.btn.btn-pink.btn-xs.right(aria-label="Abrir menú" md-ink-ripple="" ng-click="openMenu($mdOpenMenu, $event)")
				| {{ 'CONEXIÓN_TL' | translate }}  
				.fa.fa-chevron-right
				.md-ripple-container
			md-menu-content(width="4")
				md-menu-item
					md-button(ng-click="crearservidor($event)")
						| {{ 'ABRIR_SERVIDOR_TL' | translate }}  
				md-menu-item
					md-button(ng-click="CerrarServidor($event)")
						| {{ 'CERRAR_SERVIDOR_TL' | translate }}  
				md-menu-item
					md-button(ng-click="Conectar($event)")
						| {{ 'CONECTAR_TL' | translate }}  
				md-menu-divider
				md-menu-item
					md-button(ng-click="qrScanear()")
						| {{ 'QR_SCANNER_TL' | translate }}  


	.panel-body

		.clt-pc-container(ng-class="{'cursor-unselect':deseleccionar}" style="position: relative;")


			.options-clts.btn-group
				button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-model="deseleccionar" uib-btn-checkbox)
					icon.fa.fa-eye-slash
					md-tooltip {{ 'DESELECCIONAR_TL' | translate }} 
				button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="deseleccionarTodo()")
					| A
					icon.fa.fa-eye-slash
					md-tooltip {{ 'DESELECCIONAR_TODO_TL' | translate }} 

				button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="seleccionarTodo()")
					| A
					icon.fa.fa-eye
					md-tooltip {{ 'SELECCIONAR_TODO_TL' | translate }} 

				button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="empezarExamenCltsSeleccionados()")
					icon.fa.fa-play
					md-tooltip {{ 'EMPEZAR_EXAMEN_TL' | translate }} 

				button.btn.btn-danger.btn-xs.deseleccionador(type="button" ng-click="nextQuestionCltsSeleccionados()")
					icon.fa.fa-arrow-right
					md-tooltip {{ 'SIGUIENTE_PREGUNTA_TL' | translate }} 

				button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="actualizarClts()")
					icon.fa.fa-refresh
					md-tooltip {{ 'ACTUALIZAR_TL' | translate }} 


			
			h4 {{ 'REGISTRADOS_TL' | translate }} 

			ul(layout="row" layout-wrap)
				li.md-whiteframe-1dp.clt-pc.unselectable(ng-repeat="cliente in SocketData.clientes | filter:{'registrado':true}" layout="row" ng-click="clickedClt($event, cliente)"  
					ng-dblclick="showSidenavEditUsu(cliente)" ng-mouseover="sobreClt($event, cliente)" ng-class="{'seleccionado': cliente.seleccionado, 'cursor-unselect':deseleccionar }")  
					
					header(flex="30")
						img.img-perfil.nodrag(ng-src="{{imagesPath + cliente.usuario.imagen_nombre}}" alt="{{cliente.usuario.username}}"
							style="")
						
						img.img-entidad.nodrag(ng-src="{{ imagesPath + cliente.usuario.entidad.logo}}" alt="{{cliente.usuario.username}}")
						md-tooltip {{cliente.usuario.entidad.nombre}}

					.info(flex="70" ng-class="{'incorrect': cliente.answered=='incorrect', 'correct': cliente.answered=='correct' }") 
						h5.name.text-center.nombresellipsis(style="margin-top: 2px") {{cliente.usuario.nombres}} {{cliente.usuario.apellidos}}
							md-tooltip {{cliente.usuario.username}}
						
						.alias-enti(ng-show="cliente.usuario.entidad.alias") {{cliente.usuario.entidad.alias}}
						h6(style="margin: 0px;") {{ cliente.nombre_punto }}

					.opts-clt.btn-group
						
						.btn-group(uib-dropdown dropdown-append-to-body)
							button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="cerrarSesion(cliente)")
								icon.fa.fa-sign-out
								md-tooltip {{ 'CERRAR_SESION_TL' | translate }} 
							button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="showSidenavEditUsu(cliente)")
								icon.fa.fa-pencil
								md-tooltip {{ 'EDITAR_TL' | translate }} 

							a.btn.btn-pink.btn-xs.right(aria-label="Abrir menú" uib-dropdown-toggle)
								span(ng-bind-html="categoriaSelect(cliente).nombre")
								.fa.fa-chevron-right

							ul.dropdown-menu(uib-dropdown-menu aria-labelledby="simple-dropdown")
								li(ng-repeat="categoriatrad in categorias_traducidas")
									a(ng-click="cambiarCategSel(cliente, categoriatrad)")
										| {{ categoriatrad.nombre }}
								li.divider
								li
									a(ng-click="empezarExamenCliente(cliente)")
										| {{ 'EMPEZAR_EXAMEN_TL' | translate }} 
								li
									a(ng-click="nextQuestionCliente(cliente)")
										| {{ 'SIGUIENTE_PREGUNTA_TL' | translate }} 







			
			.disponibles-title
				h4 {{ 'DISPONIBLES_TL' | translate }} 

				ul
					li.md-whiteframe-1dp.clt-pc.unselectable(ng-repeat="cliente in SocketData.clientes | filter:{'registrado':false} " ng-click="clickedClt($event, cliente)" 
						ng-dblclick="showSidenavSelectUsu(cliente)" ng-mouseover="sobreClt($event, cliente)" ng-class="{'seleccionado': cliente.seleccionado, 'cursor-unselect':deseleccionar }")
						header(ng-show="cliente.registrado")
							
						.info 
							h5(ng-model="cliente.nombre_punto" contenteditable guardar-nombre-punto="guardarNombrePunto") {{ cliente.nombre_punto }}
								md-tooltip {{ 'NOMBRE_DE_PUNTO_TL' | translate }} 

						.opts-clt.btn-group
							button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="showSidenavSelectUsu(cliente)")
								icon.fa.fa-users
								md-tooltip {{ 'SELECCIONAR_UN_USUARIO_TL' | translate }} 
							button.btn.btn-default.btn-xs.deseleccionador(type="button" ng-click="guardarNombrePunto(cliente)")
								icon.fa.fa-save
								md-tooltip {{ 'GUARDAR_NOMBRE_PUNTO_TL' | translate }} 





		.message-form
			form(ng-submit="enviarMensaje()")
				.row
					.col-lg-10.col-md-9.col-sm-9.col-xs-12
						md-input-container.md-block(flex-gt-sm style="margin-bottom: -20px; padding-bottom: 0px")
							label {{ 'MENSAJE_TL' | translate }} 
							input#msg-especifico(type="text" ng-model="newMensaje")
							md-tooltip  {{ 'ENVIA_UN_MENSAJE_TL' | translate }} 

					.col-lg-1.col-md-2.col-sm-2.col-xs-12
						md-button.md-raised(aria-label="Enviar" type="submit" style="min-width:95%;  top: 7px;")
							| {{ 'ENVIA_TL' | translate }} 



sidenav-select-usu-dir
sidenav-edit-usu-dir


.panel.panel-default.panel-hovered.panel-stacked.mb20
	.panel-heading   
		| {{ 'COMANDOS_TL' | translate }} 

	.panel-body
		.row
			.col-xs-12.col-md-7
				select(multiple="true" style="width: 150px; height: 150px; font-size: 9pt")
					option(ng-repeat="categoria in categorias_king" ng-model="cmdCategSelected" ng-click="cmdClickCategSelected(categoria)") {{categoria.nombre}}
				select(multiple="true" style="width: 250px; height: 150px; font-size: 9pt; overflow: scroll")
					option(ng-repeat="pregunta in cmdPreguntasTraduc" ng-model="cmdPreguntaSelected" 
						ng-click="cmdClickPreguntaSelected(pregunta, $index)" ng-bind-html="($index+1) + '. ' + pregunta.enunciado") 
				
				span(style="font-weight: bold;") {{ 'PREG_TL' | translate }}: 
				{{ SocketData.config.info_evento.preg_actual }}
				input(ng-model="SocketData.config.info_evento.preg_actual" type="number" style="width: 60px;")

				.btn-group
					button.btn.btn-default(ng-click="showQuestion()") {{ 'MOSTRAR_PREGUNTA_TL' | translate }} 
				
					button.btn.btn-default(ng-click="showPuntajeParticip()") {{ 'MOSTRAR_PUNTAJE_TL' | translate }} 
				
				md-checkbox(ng-click="toggleShowLogoEntidadParticipantes()" ng-true-value="1" ng-false-value="0" ng-model="cmdShowLogoEntidadPartici" aria-label="Mostrar logos") {{ 'MOSTRAR_LOGO_ENTIDADES_TL' | translate }} 

		.row(style="margin-top: 10px;")
			.col-xs-12.col-md-7
				button.btn.btn-default(ng-click="showParticipantes()") 
					i.fa.fa-users
					| {{ 'MOSTRAR_PARTICIPANTES_TL' | translate }} 
		
				a(href="" ng-click="configurar_imagenes()" style="display: block; margin-top: 12px; margin-bottom: 8px" ng-hide="imagenes") {{ 'CONFIGURAR_FONDO_TL' | translate }} 

		.row(style="margin-top: 10px;")
			.col-xs-12.col-md-7
				.form-group(style="padding-left: 15px;" ng-if="imagenes")
					label {{ 'IMAGEN_TL' | translate }} 
					button.btn.btn-primary.fa.fa-image.btn-xs(type="button" ng-click="misImagenes()" style="float: right;margin-right: 20px;")  Imágenes...
					ui-select(ng-model="fondo.imagen_seleccionada" on-select="imagenSelect($item, $model)" theme="select2" style="width: 95%;")
						ui-select-match(placeholder="Imagen usuario") 
							img(ng-src="{{imagesPath + $select.selected.nombre}}" style="width:25px; height:25px;")
							small(ng-bind-html="' ' + $select.selected.nombre")
						ui-select-choices(repeat="imagen in imagenes | filter: {nombre: $select.search}")
							img(ng-src="{{imagesPath + imagen.nombre}}" style="width:25px; height:25px;")
							small(ng-bind-html="' ' + imagen.nombre | highlight: $select.search")
						ui-select-no-choice
							img(ng-src="{{imagesPath + 'perfil/system/avatars/no-photo.jpg'}}" style="width:25px; height:25px;")
							small(ng-bind-html="' Sin foto '")

					.btn-group
						button.btn.btn-default(ng-click="establecer_fondo()") 
							i.fa.fa-image
							| {{ 'ESTABLECER_FONDO_TL' | translate }} 
						button.btn.btn-default(ng-click="mostrar_solo_fondo()") 
							i.fa.fa-image
							| {{ 'MOSTRAR_SOLO_FONDO_TL' | translate }} 
		
		.row
			.col-xs-12.col-md-12
				md-content
					.form-group(style="margin-top: 15px;")
						.input-group
							md-tooltip {{ 'CAMBIAR_TELEPROMPTER_TL' | translate }}  
							input.form-control(placeholder="Escriba mensaje" ng-model="msg_teleprompter" style="border: 1px solid #ccc; border-right: 0px;")
							.input-group-btn
								button.btn.btn-default(type="button" ng-click="cambiar_teleprompter()" style="height: 34px; border-left: 0px;") 
									i.fa.fa-align-left


		hr

		.btn-group
			button.btn.btn-primary(ng-click="empezarExamen()") {{ 'EMPEZAR_EXAMEN_TL' | translate }}   
				i.fa.fa-play
			button.btn.btn-danger(ng-click="nextQuestion()") {{ 'SIGUIENTE_PREGUNTA_TL' | translate }}   
				i.fa.fa-arrow-right


		.row
			.col-xs-12.col-md-7
				md-content
					.form-group(style="width: 200px;margin-top: 15px;")
						.input-group
							md-tooltip {{ 'ENVIAR_CLIENTES_SELECCIONADOS_A_UNA_PREGUNTA_TL' | translate }}  
							input.form-control(type="number" min="1" placeholder="Número" ng-model="cmdNoPregunta" style="border: 1px solid #ccc; border-right: 0px;")
							.input-group-btn
								button.btn.btn-default(type="button" ng-click="gotoNoQuestionClt()" style="height: 34px; border-left: 0px;") {{ 'IR_TL' | translate }} 




// RESULTADOS, EXÁMENES, PUESTOS!!!!!!!

md-button.md-raised(ng-if="!show_result_table" ng-click="mostrar_result_table()") {{ 'TABLA_DE_RESULTADOS_TL' | translate }} 
puestos-dir(ng-if="show_result_table")

// RESULTADOS, EXÁMENES, PUESTOS!!!!!!!




.panel.panel-default.panel-hovered.panel-stacked.mb20
	.panel-heading   
		| {{ 'CHAT_PUBLICO_TL' | translate }} 

	.panel-body

		chat-container-dir



