
<div ng-if="$state.is('panel')" class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-hovered panel-stacked mb20">
      <div class="panel-body">
        <div ng-bind-html=" eventoactual.nombre " class="titulo-3d"></div>
        <div ng-switch on="eventoactual.gran_final" style="text-align: center;"><span ng-switch-when="1">
            <h3 ng-bind-html="'GRAN_FINAL' | translate" class="text-light">¡Gran final!</h3>
            <md-whiteframe ng-show="user.categsel" layout layout-align="center center" class="md-whiteframe-z2">
              <!--h2(ng-repeat="categoriaking in user | categsInscritasDeUsuario:categorias_king:user.idioma_main_id | filter:{selected:true} " style="margin-bottom: 20px;")| {{categoriaking.nombre}} 
              -->
              <h2 ng-bind-html="categoriaSelect().nombre" style="margin-bottom: 20px;"></h2>
            </md-whiteframe></span>
          <h3 ng-switch-default ng-bind-html="'ELIMINATORIAS' | translate" class="text-light">Eliminatorias</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="hasRoleOrPerm('Pantalla')" class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-hovered panel-stacked mb20">
      <div class="panel-heading">
         
        Proyectar
      </div>
      <div class="panel-body">
        <md-button ng-click="iniciarProyeccion()" style="width: 100%;" class="md-raised md-primary col-md-12">Iniciar proyección</md-button>
      </div>
    </div>
  </div>
</div>
<div ng-if="!hasRoleOrPerm('Pantalla')" class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-hovered panel-stacked mb20">
      <div class="panel-heading"> 
        <div ng-switch on="user.inscripciones.length &gt; 0"> 
          <div ng-switch-when="true" ng-bind-html="('INSCRITO_EN' | translate)"> </div>
          <div ng-switch-default ng-bind-html="('NO_ESTAS_INSCRITO' | translate)"> </div>
        </div>
      </div>
      <div class="panel-body">
        <md-button ng-click="iniciarExamen(categoriaking)" ng-repeat="categoriaking in user.inscripciones | categsInscritasDeUsuario:categorias_king:user.idioma_main_id:categoriaSelect().categoria_id " ng-class="{'md-primary': categoriaking.selected }" style="width: 100%;" class="md-raised col-md-12">{{categoriaking.nombre}}</md-button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default panel-hovered panel-stacked mb20">
      <div class="panel-heading"> 
        <div ng-bind-html="('EXAM_HECHOS' | translate)"> </div>
      </div>
      <div class="panel-body">
        <uib-accordion close-others="false" ng-repeat="examen in examenes_puntajes | orderBy:'-id'">
          <uib-accordion-group heading="{{examen.categoria.nombre + ' - (Cod:' + examen.id + ') ' }}" ng-init="status.open = $first" is-open="status.open" tooltip="{{examen.evaluacion.descripcion}}">
            <div>Preguntas: {{examen.cantidad_pregs}} </div>
            <div>Correctas: {{examen.correctas}} </div>
            <div>Incorrectas: {{examen.cantidad_pregs-examen.correctas}} </div>
            <div>Terminado: {{examen.terminado}} </div>
            <div>Promedio: {{examen.promedio | number:1}}% </div>
            <div style="text-align:right"><a ui-sref="panel.examen_respuesta({examen_respuesta_id: examen.id})" href="">Continuar</a></div>
          </uib-accordion-group>
        </uib-accordion>
      </div>
    </div>
  </div>
</div>