
<ul class="list-unstyled left-elems">
  <!-- nav trigger/collapse-->
  <li><a href="" ng-click="toggleNav()" class="nav-trigger fa fa-bars"></a></li>
  <!--  Search box -->
  <!-- li
  .form-search.hidden-xs
  	form#site-search(action="na")
  		input.form-control(type="search" placeholder="Type here for search...")
  		button.fa.fa-searchf(type="submit")
  
  
  -->
  <!-- site-logo for mobile nav-->
  <li>
    <div class="site-logo visible-xs"><a ui-sref="panel" class="text-uppercase h3"><span class="text">Wissen</span></a></div>
  </li>
  <!-- fullscreen-->
  <li ng-click="goFullScreen()" class="fullscreen hidden-xs"><a href="" ng-click="reload(setFullScreen())"><i class="fa fa-arrows-alt"></i>
      <md-tooltip>Ver en pantalla completa</md-tooltip></a></li>
  <!-- notification drop-->
  <li dropdown="" ng-if="hasRoleOrPerm('admin', 'tecnico', 'profesor')" class="notify-drop hidden-xs dropdown">
    <md-menu><a href="" ng-click="openMenu($mdOpenMenu, $event)"><i class="fa fa-laptop"></i><span ng-bind=" evento_actual.alias"></span></a>
      <md-menu-content style="margin-top: 40px;" width="3">
        <md-menu-item ng-repeat="evento in USER.eventos">
          <md-button ng-click="set_user_event(evento)"><span ng-class="(evento.id==USER.evento_selected_id) ? 'bg-primary': 'bg-success' " class="fa fa-laptop left icono-submenu"></span>
            <div class="desc"><strong>{{ evento.nombre }}</strong>
              <p ng-show="evento.actual" style="color: #3f51b5; font-weight: bold;" class="small text-muted">Actual</p>
            </div>
          </md-button><a href="" ng-click="set_system_event(evento)" style="color: #fff; width: 60px; margin-top: 10px; height: 30px;line-height: 25px;" ng-hide="evento.actual" class="right btn btn-xs btn-purple">Actual
            <md-tooltip>Establecer como evento actual</md-tooltip></a>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </li>
  <!-- Idiomas-->
  <li dropdown="" class="notify-drop hidden-xs dropdown">
    <md-menu><a href="" ng-click="openMenu($mdOpenMenu, $event)"><i class="fa fa-flag-checkered"></i></a>
      <md-menu-content style="margin-top: 40px;" width="3">
        <md-menu-item ng-repeat="idioma in idiomas_usados">
          <md-button ng-click="cambiarIdioma(idioma)"><span ng-class="(idioma.actual) ? 'bg-primary': 'bg-success' " class="fa fa-flag left icono-submenu"></span>
            <div class="desc"><strong>{{idioma.original}} ({{idioma.abrev}}) - {{idioma.nombre}}</strong>
              <p ng-show="idioma.actual" class="small text-muted">Actual</p>
            </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </li>
</ul>
<ul class="list-unstyled right-elems ng-scope">
  <li dropdown="" style="padding-right: 8px" class="profile-drop hidden-xs dropdown">
    <md-menu> <a href="" ng-click="openMenu($mdOpenMenu, $event)"><img ng-src="{{imagesPath + USER.imagen_nombre}}" alt="{{USER.username}}" class="imagen-perfil"></a>
      <md-menu-content style="margin-top: 40px;" width="3">
        <md-menu-item>
          <md-button ng-click="ctrl.redial($event)"><a ui-sref="panel.perfil" style="color: currentColor;"><i style="font-size: 16px; margin-right: 8px;" class="fa fa-user"></i>Perfil</a></md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <!--md-icon.fa(md-font-icon="fa-image" )--><a ui-sref="panel.filemanager()" style="color: currentColor;"><i style="font-size: 16px; margin-right: 8px;" class="fa fa-image"></i>Imágenes</a>
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="logout()"><i style="font-size: 16px; margin-right: 8px;" class="fa fa-sign-out"></i>{{ 'SALIR' | translate }}</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </li>
  <li class="profile-drop hidden-xs dropdown"><a href="" ng-click="logout()" style="color: #fff"><i ng-bind-html="('SALIR' | translate)" class="fa fa-sign-out"> </i></a></li>
  <!--li.floating-sidebar(ng-class="{'open': floatingSidebar}")-->
  <li ng-class="{'open': floatingSidebar}" class="floating-sidebar"><a href="" ng-click="toggleFloatingSidebar()"><i class="fa fa-th"></i></a>
    <div custom-scrollbar="" class="sidebar-wrap ps-container ps-active-y">
      <md-content>
        <md-list class="md-dense">
          <md-subheader class="md-no-sticky">3 line item</md-subheader>
          <md-list-item ng-repeat="item in todos" class="md-3-line"><img ng-src="{{item.face}}?{{$index}}" alt="{{item.who}}" class="md-avatar">
            <div layout="column" class="md-list-item-text"></div>
            <h3>{{ item.who }}</h3>
            <h4>{{ item.what }}</h4>
            <p>{{ item.notes }}</p>
          </md-list-item>
        </md-list>
      </md-content>
      <tabset justified="true">
        <tab heading="CHAT">
          <div class="chat-tab clearfix">
            <h5 class="title mt0 mb30">Online</h5>
            <div class="user-container mb15">
              <!--img(src='images/perfil/pruebaadmin.jpg', alt='')-->
              <div class="desc">
                <p class="mb0">John Wick</p>
                <p class="xsmall"><span class="ion ion-location"></span>San Franciso, USA</p>
              </div><span class="ion ion-record avail right on"></span>
            </div>
            <div class="user-container mb15">
              <!--img(src='images/perfil/pruebaadmin.jpg', alt='')-->
              <div class="desc">
                <p class="mb0">John Wick</p>
                <p class="xsmall"><span class="ion ion-location"></span>California, USA</p>
              </div><span class="ion ion-record avail right away"></span>
            </div>
          </div>
        </tab>
        <tab heading="INFO">
          <div class="info-tab clearfix">
            <h5 class="title mt0 mb30">Work in Progress</h5>
            <ul class="list-unstyled mb15 clearfix">
              <li>
                <div class="clearfix mb10"><small class="left">App Upload</small><small class="right">80%</small></div>
                <div value="80" type="primary" class="progress-xs progress ng-isolate-scope">
                  <div ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" aria-valuetext="80%" style="width: 80%;" class="progress-bar progress-bar-primary"></div>
                </div>
              </li>
            </ul>
            <h5 class="title mt0 mb30">Settings</h5>
            <div class="clearfix mb15">
              <div class="left">
                <p>Show me online</p>
              </div>
              <div class="right">
                <div class="ui-toggle ui-toggle-success ui-toggle-xs">
                  <label>
                    <input type="checkbox" checked=""><span></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="clearfix mb15">
              <div class="left">
                <p>Notifications</p>
              </div>
              <div class="right">
                <div class="ui-toggle ui-toggle-success ui-toggle-xs">
                  <label>
                    <input type="checkbox"><span></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </li>
</ul>