.grafico-container

	.wrapper-grafico(layout="column")
		h1.txt-borde-blanco Progreso de participantes


		#chart(layout="row" layout-align="space-around end")
			.bar(class="barc{{ calc_indice($index+1) }}" ng-repeat="cliente in participantes_actuales()" style="height: {{ calc_porcentaje(cliente.respondidas) }}%; ")
				text {{cliente.respondidas}}


		.labels-barchart(layout="row" layout-align="space-around start")
			text(ng-repeat="cliente in participantes_actuales()")
				.etiqueta-grafico {{cliente.user_data.nombres}}
			





