.grafico-container

	.wrapper-grafico(layout="column")
		h1.txt-borde-blanco Progreso de participantes


		#chart(layout="row" layout-align="space-around end")
			.bar(class="barc{{ calc_indice($index+1) }}" style="height: {{ calc_porcentaje(cliente.respondidas) }}%; " ng-repeat="cliente in participantes_actuales()")
				text {{cliente.respondidas}}


		.labels-barchart(layout="row" layout-align="space-around start")
			text(ng-repeat="cliente in SocketClientes.clientes | filter:participantes_en_categorias()")
				.etiqueta-grafico {{cliente.usuario.nombres}}
			





