
<div class="categorias-container"> 
  <div ng-repeat="categoria_traduc in SocketData.config.categorias_traduc " ng-class="{'categ-retirada': participantesDeCategoria(categoria_traduc).length == 0}" class="categ-container">
    <div class="title-categ-container">{{ categoria_traduc.nombre }}</div>
    <div class="participantes-container">
      <ul>
        <li ng-repeat="cliente in SocketData.clientes | filter:{'registrado':true, 'categsel':categoria_traduc.categoria_id }:true | orderParticipantes " ng-class="{'correct': cliente.answered=='correct', 'incorrect': cliente.answered=='incorrect' }" class="md-whiteframe-1dp sc-cliente">
          <div class="sc-cliente-imgs"><img ng-src="{{imagesPath + cliente.usuario.imagen_nombre}}" alt="{{cliente.usuario.username}}" class="img-perfil"><img ng-class="{'showing-logo-ent-part': SocketData.config.show_logo_entidad_partici}" ng-src="{{ imagesPath + cliente.usuario.entidad.logo}}" alt="{{cliente.usuario.username}}" class="img-entidad">
            <md-tooltip>{{ cliente.usuario.entidad.nombre }}</md-tooltip>
          </div>
          <div class="sc-info"> 
            <h5 class="name nombresellipsis">{{cliente.usuario.nombres}} {{cliente.usuario.apellidos}}
              <md-tooltip>{{cliente.usuario.nombres}} {{cliente.usuario.apellidos}}</md-tooltip>
            </h5>
            <div class="alias-enti">{{cliente.usuario.entidad.alias}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>