.container-proyector

	header.hidden-print.proyector-head.site-head#site-head(ng-include=" 'views/panel/header.tpl.html' ")
		



	// main-container
	.main-container.clearfix.nav-expand()

		div.content-container.fixedHeader(style="width: 100%; margin-left: 0px; margin-top: -70px;")
			.page.page-dashboard(style="padding: 0px; background-color: white; height: 100vh; overflow: auto;")

				.page-wrap.proyectando(ui-view="contenido_panel" style="text-align:center")
					h2 Ahora esperamos ...