
<div class="container-proyector">
  <header id="site-head" ng-include=" 'views/panel/header.tpl.html' " class="hidden-print proyector-head site-head"></header>
  <!-- main-container-->
  <div class="main-container clearfix nav-expand">
    <div style="width: 100%; margin-left: 0px; margin-top: -70px;" class="content-container fixedHeader">
      <div style="padding: 0px; background-color: white; height: 100vh; overflow: auto;" class="page page-dashboard">
        <div ui-view="contenido_panel" style="text-align:center" class="page-wrap proyectando">
          <h2>Ahora esperamos ...</h2>
        </div>
      </div>
    </div>
  </div>
</div>