.puntaje-container 
	header.row
		.col-md-12.col-sm-12(style="text-align: center;" ng-show="SocketData.config.puntaje_to_show")
			img(ng-src="{{ imagesPath + SocketData.config.puntaje_to_show.logo_nombre }}" style="width: 120px; margin-left: 7px; margin-top: 30px;")
			
			//div(style="font-size: 15pt; font-weight: bold; position: absolute; left: calc(50% - 20px);")
				| {{ SocketData.config.puntaje_to_show.alias_entidad }}

	.puntaje-content(style="")
		.indexHead
		div( ng-show="SocketData.config.puntaje_to_show")
			.row
				.col-md-12.col-sm-12(style="text-align: center;")
					h2(style="margin-left:10px; font-size: 30pt;") 
						span(style="font-size: 70pt") {{ SocketData.config.puntaje_to_show.puesto }}ยบ 
						span(style="margin-left: -40px;") puesto - {{ SocketData.config.puntaje_to_show.nombre_categ }}

			.row
				.col-md-7.col-sm-7.col-xs-7
					h1.txt-borde-blanco(style="margin-top: 50px; color: blue; margin-bottom: 0px; width: 140%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-weight: 900;")
						| {{ SocketData.config.puntaje_to_show.nombres + ' ' + SocketData.config.puntaje_to_show.apellidos }}
					h1.txt-borde-blanco(style="width: 140%; margin-top: 0px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;")
						| {{ SocketData.config.puntaje_to_show.alias_entidad }}
				
				.col-md-5.col-sm-5.col-xs-5.center
					img(ng-src="{{ imagesPath + SocketData.config.puntaje_to_show.imagen_nombre }}" style="width: 200px")

			.row
				.col-md-6.col-sm-6.col-xs-6.txt-borde-blanco(style="font-size:20pt; line-height: 1.2;")
					| Preguntas: {{ SocketData.config.puntaje_to_show.resultados.cantidad_pregs }}
					br 
					| Incorrectas: {{ SocketData.config.puntaje_to_show.resultados.cantidad_pregs - SocketData.config.puntaje_to_show.resultados.correctas }}
					br
				
					| Correctas: {{ SocketData.config.puntaje_to_show.resultados.correctas }}
					br
				
					| Tiempo: {{ SocketData.config.puntaje_to_show.resultados.tiempo | secondsToDateTime:true }}

				.col-md-6.col-sm-6.col-xs-6.center
					h1(style="font-size:80pt; color: white; text-shadow: 4px 4px 2px rgb(21, 33, 33); margin-top: 10px;") {{ SocketData.config.puntaje_to_show.resultados.promedio | decimales_if:1 }}%

					

	



