.categorias-container

	.categ-container(ng-repeat="categoria_traduc in $parent.categorias_traducidas "
		ng-class="{'categ-retirada': examenes_cargados().length == 0}" )

		.title-categ-container.txt-borde-blanco
			| {{ categoria_traduc.nombre }}

		.participantes-container

			ul(style="display: inline-flex;writing-mode: vertical-lr;flex-wrap: wrap;align-content: flex-start;height: 100%;")
				
				li.md-whiteframe-1dp.sc-cliente(ng-repeat="cliente in examenes_cargados() | filter:{ 'categoria_id':categoria_traduc.categoria_id }:true | orderPuntajesActuales "   
					style="writing-mode: horizontal-tb; width: auto; border-radius: 8px; margin-right: 4px;")
					
					.sc-cliente-imgs(style="border-radius: 8px 0 0 8px;")
						
						img.img-perfil(ng-src="{{imagesPath + cliente.imagen_nombre}}" alt="{{cliente.username}}")
						
						img.img-entidad(ng-class="{'showing-logo-ent-part': SocketData.config.show_logo_entidad_partici}" ng-src="{{ imagesPath + cliente.entidad.logo}}" alt="{{cliente.username}}")
						md-tooltip {{ cliente.nombre_entidad }}


					.sc-info(ng-class="{'ancho-sc-info': $parent.categorias_traducidas.length<3 }") 
						h5.name.nombresellipsis(style="font-weight: 700; font-size: 14pt; margin-bottom: 4px; margin-left: -4px;") {{ ($index+1) + '. ' + cliente.nombres}} {{cliente.apellidos}}
							md-tooltip {{ ($index+1) + '. ' + cliente.nombres}} {{cliente.apellidos}}
						div(layout="row")
							.alias-enti(flex style="line-height: 1;") {{cliente.alias_entidad}}
								md-tooltip {{ cliente.nombre_entidad }}

							.alias-enti(flex style="font-size: 14pt; font-weight: 900;")
								span(ng-show="cliente.res_by_promedio") {{ cliente.res_promedio | decimales_if:1 }}%
								span(ng-hide="cliente.res_by_promedio") {{ cliente.res_puntos }}
								md-tooltip Correctas: {{ cliente.res_correctas }} - Incor: {{ cliente.res_incorrectas }} de {{ cliente.res_cant_pregs }} 

							.alias-enti(flex) {{cliente.res_tiempo_format}}



