
<h2 style="text-align: center; color: blue;">{{ SocketData.config.pregunta.nombre_categ + ' (' + SocketData.config.no_question + ' de ' + SocketData.config.pregunta.catidad_pregs + ')' }}</h2>
<div style="font-size: 25pt;">
  <md-whiteframe layout style="padding: 10px; position: relative" class="md-whiteframe-z2 definicion-frame"><span style="font-weight: bold;">{{SocketData.config.no_question}}.   </span><span ng-bind-html="SocketData.config.pregunta.enunciado"></span>
    <div ng-show="SocketData.config.pregunta.ayuda" ng-click="toggleMostrarAyuda(SocketData.config.pregunta)" ng-class="{'ayuda-preg-showed': SocketData.config.pregunta.mostrar_ayuda, 'ayuda-preg-hidded':!SocketData.config.pregunta.mostrar_ayuda}"><a ng-show="!SocketData.config.pregunta.mostrar_ayuda"><i class="fa fa-anchor"></i></a><span ng-show="SocketData.config.pregunta.mostrar_ayuda">{{SocketData.config.pregunta.ayuda}}</span></div>
  </md-whiteframe>
  <!-- Opciones checkbox para seleccionar varios-->
  <md-list ng-if="SocketData.config.pregunta.tipo_pregunta=='Multiple'">
    <md-list-item ng-repeat="opcion in SocketData.config.pregunta.opciones">
      <md-checkbox ng-model="topping.wanted"></md-checkbox>
      <p ng-bind-html="opcion.definicion"> </p>
      <md-icon ng-click="" aria-label="Chat" class="md-secondary fa fa-comment"></md-icon>
    </md-list-item>
  </md-list>
  <!-- Opciones de tipo ICFES-->
  <div layout="row" layout-wrap layout-fill ng-if="SocketData.config.pregunta.tipo_pregunta=='Test'" style="padding-bottom: 32px; justify-content: center;" class="opciones">
    <md-whiteframe ng-class="{'elegida':opcion.elegida}" ng-if="!opcion.nueva" flex="45" ng-click="elegirOpcion(SocketData.config.pregunta, opcion, $index)" ng-repeat="opcion in SocketData.config.pregunta.opciones" style="font-size: 20pt;" class="pointer md-whiteframe-z2 btn"> <span style="font-weight: bold;">{{ indexChar($index) }}. </span><span ng-bind-html="opcion.definicion"> </span></md-whiteframe>
  </div>
</div><br><br><br><br>
<md-divider></md-divider><br><br>